# The Value of Cultural Similarity for Predicting Migration


## Carolina Coimbra Vieira, Sophie Lohmann, Emilio Zagheni

In [1]:
shhh <- suppressPackageStartupMessages # It's a library, so shhh!

shhh(library(tidyr))
shhh(library(dplyr))
shhh(library(readr))
shhh(library(lsa))
shhh(library(philentropy))
shhh(library('fastDummies'))

Warning message:
"package 'tidyr' was built under R version 4.1.3"
Warning message:
"package 'tidyr' was built under R version 4.1.3"
Warning message:
"package 'dplyr' was built under R version 4.1.3"
Warning message:
"package 'dplyr' was built under R version 4.1.3"
Warning message:
"package 'readr' was built under R version 4.1.3"
Warning message:
"package 'readr' was built under R version 4.1.3"
Warning message:
"package 'lsa' was built under R version 4.1.3"
Warning message:
"package 'lsa' was built under R version 4.1.3"
Warning message:
"package 'SnowballC' was built under R version 4.1.1"
Warning message:
"package 'SnowballC' was built under R version 4.1.1"
Warning message:
"package 'philentropy' was built under R version 4.1.3"
Warning message:
"package 'philentropy' was built under R version 4.1.3"

## Population 2019
### Datasource: [UN](https://population.un.org/wpp/Download/Standard/Population/)

In [2]:
pop_2019 <- read.csv("data/subset-pop-un2019.csv")

head(pop_2019)

  country       population
1 Argentina      44780675
2 Australia      25203200
3 Brazil        211049519
4 Chile          18952035
5 France         65129731
6 Great Britain  67530161

  country       population
1 Argentina      44780675
2 Australia      25203200
3 Brazil        211049519
4 Chile          18952035
5 France         65129731
6 Great Britain  67530161

In [3]:
countries <- c(pop_2019$country)

countries

 [1] "Argentina"     "Australia"     "Brazil"        "Chile"
 [5] "France"        "Great Britain" "Indonesia"     "Japan"
 [9] "Malaysia"      "Mexico"        "Russia"        "Singapore"
[13] "South Korea"   "Spain"         "Turkey"        "United States"

 [1] "Argentina"     "Australia"     "Brazil"        "Chile"
 [5] "France"        "Great Britain" "Indonesia"     "Japan"
 [9] "Malaysia"      "Mexico"        "Russia"        "Singapore"
[13] "South Korea"   "Spain"         "Turkey"        "United States"

## Geographic info: area  
### Datasource: [CEPII](http://www.cepii.fr/CEPII/en/bdd_modele/presentation.asp?id=6)

<b>Country-level variables</b>   
    *`iso2, iso3, cnum`*: ISO codes in two and three characters, and in three numbers respectively.  
    *`country, pays`*: Name of country in English and French respectively.   
    **`area`: Country’s area in $km^2$.**   
    *`dis_int`*: Internal distance of country i, $d_{ii} = .67 \sqrt{area/\pi}$ (an often used measure of average distance between producers and consumers in a country, see Head and Mayer, 2002 for more on this topic).  
    *`landlocked`*: Dummy variable set equal to 1 for landlocked countries.    
    *`continent`*: Continent to which the country is belonging.   
    *`langoff_i`*: Official or national languages and languages spoken by at least 20% of the population of the country (and spoken in another country of the world) following the same logic than the "open-circuit languages" in Mélitz (2002).  
    *`lang20_i`*: Languages (mother tongue, lingua francas or second languages) spoken by at least 20% of the population of the country.  
    *`lang9_i`*: Languages (mother tongue, lingua francas or second languages) spoken by between 9% and 20% of the population of the country.  
    *`colonizeri`*: Colonizers of the country for a relatively long period of time and with a substantial participation in the governance of the colonized country.  
    *`short_colonizeri`*: Colonizers of the country for a relatively short period of time or with only low involvement in the governance of the colonized country.
    
<b>Cities variables used in the computation of distances</b>  
    *`city_en, city_fr`*: Names of capitals or main cities of the country in English and French.   
    *`lat, lon`*: Latitude and longitude of the city.  
    *`cap`*: Variable equals to 1 if the city is the capital of the country, to 0 if the city is the most populated city (maincity equals to 1) but not the capital, and to 2 in the cases of two capitals, if the city is the most populated but the “second” capital or the previous capital.  
    *`maincity`*: Variable coded as 1 when the city is the most populated of the country and as 2 otherwise.  
    *`citynum`*: Number of cities for each country used to calculate our weighted distances described in the next section.

In [4]:
geo <- read.csv("data/cepii_geo2.csv")

head(geo)

  iso2 iso3 cnum country     pays        area    dis_int    landlocked
1 AW   ABW  533  Aruba       Aruba           193   5.225315 0
2 AF   AFG    4  Afghanistan Afghanistan  652225 303.761400 1
3 AO   AGO   24  Angola      Angola      1246700 419.966600 0
4 AI   AIA  660  Anguilla    Anguilla        102   3.798690 0
5 AL   ALB    8  Albania     Albanie       28748  63.773110 0
6 AD   AND   20  Andorra     Andorre         453   8.005398 0
  continent city_en          ... lang9_2 lang9_3 lang9_4 colonizer1 colonizer2
1 America   Oranjestad       ... .       .       .       NLD        .
2 Asia      Kabul            ... Uzbek   .       .       .          .
3 Africa    Luanda           ... .       .       .       PRT        .
4 America   The Valley       ... .       .       .       GBR        .
5 Europe    Tirana           ... .       .       .       TUR        .
6 Europe    Andorra la Vella ... .       .       .       .          .
  colonizer3 colonizer4 short_colonizer1 short_colonizer2 short_colonizer3
1 .          .          .                .                .
2 .          .          GBR              .                .
3 .          .          .                .                .
4 .          .          .                .                .
5 .          .          .                .                .
6 .          .          .                .                .

  iso2 iso3 cnum country     pays        area    dis_int    landlocked
1 AW   ABW  533  Aruba       Aruba           193   5.225315 0
2 AF   AFG    4  Afghanistan Afghanistan  652225 303.761400 1
3 AO   AGO   24  Angola      Angola      1246700 419.966600 0
4 AI   AIA  660  Anguilla    Anguilla        102   3.798690 0
5 AL   ALB    8  Albania     Albanie       28748  63.773110 0
6 AD   AND   20  Andorra     Andorre         453   8.005398 0
  continent city_en          ... lang9_2 lang9_3 lang9_4 colonizer1 colonizer2
1 America   Oranjestad       ... .       .       .       NLD        .
2 Asia      Kabul            ... Uzbek   .       .       .          .
3 Africa    Luanda           ... .       .       .       PRT        .
4 America   The Valley       ... .       .       .       GBR        .
5 Europe    Tirana           ... .       .       .       TUR        .
6 Europe    Andorra la Vella ... .       .       .       .          .
  colonizer3 colonizer4 short_colonizer1 short_colonizer2 short_colonizer3
1 .          .          .                .                .
2 .          .          GBR              .                .
3 .          .          .                .                .
4 .          .          .                .                .
5 .          .          .                .                .
6 .          .          .                .                .

In [5]:
colnames(geo)

 [1] "iso2"             "iso3"             "cnum"             "country"
 [5] "pays"             "area"             "dis_int"          "landlocked"
 [9] "continent"        "city_en"          "city_fr"          "lat"
[13] "lon"              "cap"              "maincity"         "citynum"
[17] "langoff_1"        "langoff_2"        "langoff_3"        "lang20_1"
[21] "lang20_2"         "lang20_3"         "lang20_4"         "lang9_1"
[25] "lang9_2"          "lang9_3"          "lang9_4"          "colonizer1"
[29] "colonizer2"       "colonizer3"       "colonizer4"       "short_colonizer1"
[33] "short_colonizer2" "short_colonizer3"

 [1] "iso2"             "iso3"             "cnum"             "country"
 [5] "pays"             "area"             "dis_int"          "landlocked"
 [9] "continent"        "city_en"          "city_fr"          "lat"
[13] "lon"              "cap"              "maincity"         "citynum"
[17] "langoff_1"        "langoff_2"        "langoff_3"        "lang20_1"
[21] "lang20_2"         "lang20_3"         "lang20_4"         "lang9_1"
[25] "lang9_2"          "lang9_3"          "lang9_4"          "colonizer1"
[29] "colonizer2"       "colonizer3"       "colonizer4"       "short_colonizer1"
[33] "short_colonizer2" "short_colonizer3"

In [6]:
area <- geo %>% filter (country %in% countries) %>%
                select(iso2, iso3, country, area) %>% 
                unique()

area

   iso2 iso3 country       area
1  AR   ARG  Argentina      2766889
2  AU   AUS  Australia      7686848
4  BR   BRA  Brazil         8511920
6  CL   CHL  Chile           756945
7  ES   ESP  Spain           505954
8  FR   FRA  France          547026
9  GB   GBR  Great Britain   244110
10 ID   IDN  Indonesia      1933658
11 JP   JPN  Japan           377801
12 KR   KOR  South Korea      99484
13 MX   MEX  Mexico         1967210
14 MY   MYS  Malaysia        329758
15 RU   RUS  Russia        17075400
16 SG   SGP  Singapore          646
17 TR   TUR  Turkey          780576
19 US   USA  United States  9529106

   iso2 iso3 country       area
1  AR   ARG  Argentina      2766889
2  AU   AUS  Australia      7686848
4  BR   BRA  Brazil         8511920
6  CL   CHL  Chile           756945
7  ES   ESP  Spain           505954
8  FR   FRA  France          547026
9  GB   GBR  Great Britain   244110
10 ID   IDN  Indonesia      1933658
11 JP   JPN  Japan           377801
12 KR   KOR  South Korea      99484
13 MX   MEX  Mexico         1967210
14 MY   MYS  Malaysia        329758
15 RU   RUS  Russia        17075400
16 SG   SGP  Singapore          646
17 TR   TUR  Turkey          780576
19 US   USA  United States  9529106

#### Population + Area

In [7]:
area_pop <- merge(area, pop_2019)

area_pop

   country       iso2 iso3 area     population
1  Argentina     AR   ARG   2766889  44780675
2  Australia     AU   AUS   7686848  25203200
3  Brazil        BR   BRA   8511920 211049519
4  Chile         CL   CHL    756945  18952035
5  France        FR   FRA    547026  65129731
6  Great Britain GB   GBR    244110  67530161
7  Indonesia     ID   IDN   1933658 270625567
8  Japan         JP   JPN    377801 126860299
9  Malaysia      MY   MYS    329758  31949789
10 Mexico        MX   MEX   1967210 127575529
11 Russia        RU   RUS  17075400 145872260
12 Singapore     SG   SGP       646   5804343
13 South Korea   KR   KOR     99484  51225321
14 Spain         ES   ESP    505954  46736782
15 Turkey        TR   TUR    780576  83429607
16 United States US   USA   9529106 329064917

   country       iso2 iso3 area     population
1  Argentina     AR   ARG   2766889  44780675
2  Australia     AU   AUS   7686848  25203200
3  Brazil        BR   BRA   8511920 211049519
4  Chile         CL   CHL    756945  18952035
5  France        FR   FRA    547026  65129731
6  Great Britain GB   GBR    244110  67530161
7  Indonesia     ID   IDN   1933658 270625567
8  Japan         JP   JPN    377801 126860299
9  Malaysia      MY   MYS    329758  31949789
10 Mexico        MX   MEX   1967210 127575529
11 Russia        RU   RUS  17075400 145872260
12 Singapore     SG   SGP       646   5804343
13 South Korea   KR   KOR     99484  51225321
14 Spain         ES   ESP    505954  46736782
15 Turkey        TR   TUR    780576  83429607
16 United States US   USA   9529106 329064917

In [8]:
isos3 <- area$iso3

isos3

 [1] "ARG" "AUS" "BRA" "CHL" "ESP" "FRA" "GBR" "IDN" "JPN" "KOR" "MEX" "MYS"
[13] "RUS" "SGP" "TUR" "USA"

 [1] "ARG" "AUS" "BRA" "CHL" "ESP" "FRA" "GBR" "IDN" "JPN" "KOR" "MEX" "MYS"
[13] "RUS" "SGP" "TUR" "USA"

## Geographic distance
### Datasource: [CEPII](http://www.cepii.fr/CEPII/en/bdd_modele/presentation.asp?id=6)  

<b>Variables</b>  
    *`iso_o, iso_d`*: ISO codes in three characters, refering to the country of origin and destination, respectively.  
    *`dist`*: Geodesic distances from lat/long of most populous cities (simple distance).   
    *`distcap`*: geodesic distance between capital cities (simple distance).    
    *`distw`*: population weighted distance, theta = 1 (weighted distance).   
    *`distwces`*: population weighted distance, theta = -1, which corresponds to the usual coefficient estimated from gravity models of bilateral trade flows (weighted distance).  
    *`contig`*: dummy variable indicating whether the two countries are contiguous (share a land border).  
    *`comlang_off, comlang_ethno`*: dummy variable indicating whether the two countries share a common language. There are two common languages dummies, the first one based on the fact that two countries share a common official language, and the other one set to one if a language is spoken by at least 9% of the population in both countries.     
    *`colony`*: dummy variable indicating whether the two countries have ever had a colonial link.  
    *`comcol`*: dummy variable indicating whether the two countries have had a common colonizer after 1945.  
    *`curcol`*: dummy variable indicating whether the two countries are currently in a colonial relationship.  
    *`col45`*: dummy variable indicating whether the two countries have had a colonial relationship -a-f-t-e-r- 1945 (share common colonizer pre 1945).  
    *`smctry`*: dummy variable indicating whether the two countries were/are the same country.  

**[TO DO]: check Maciej distance**   
<b>Maciej</b>  
    *`dist_pop_weighted`*: population-weighted average distance between biggest cities  
    *`dist_biggest_cities`*: average distance between biggest cities  
^ most similar to distwces  
    *`dist_unweighted`*: average distance between (?) (not population weighted)

In [9]:
dists <- read.csv("data/cepii_dist2.csv")

head(dists)

  iso_o iso_d contig comlang_off comlang_ethno colony comcol curcol col45
1 ABW   ABW   0      0           0             0      0      0      0
2 ABW   AFG   0      0           0             0      0      0      0
3 ABW   AGO   0      0           0             0      0      0      0
4 ABW   AIA   0      0           1             0      0      0      0
5 ABW   ALB   0      0           0             0      0      0      0
6 ABW   AND   0      1           0             0      0      0      0
  smctry dist         distcap      distw    distwces
1 0          5.225315     5.225315 25.09354 23.04723
2 0      13257.810000 13257.810000 13168.22 13166.37
3 0       9516.913000  9516.913000 9587.316 9584.193
4 0        983.268200   983.268200 976.8974 976.8916
5 0       9091.742000  9091.742000 9091.576 9091.466
6 0       7572.788000  7572.788000 7570.084 7570.083

  iso_o iso_d contig comlang_off comlang_ethno colony comcol curcol col45
1 ABW   ABW   0      0           0             0      0      0      0
2 ABW   AFG   0      0           0             0      0      0      0
3 ABW   AGO   0      0           0             0      0      0      0
4 ABW   AIA   0      0           1             0      0      0      0
5 ABW   ALB   0      0           0             0      0      0      0
6 ABW   AND   0      1           0             0      0      0      0
  smctry dist         distcap      distw    distwces
1 0          5.225315     5.225315 25.09354 23.04723
2 0      13257.810000 13257.810000 13168.22 13166.37
3 0       9516.913000  9516.913000 9587.316 9584.193
4 0        983.268200   983.268200 976.8974 976.8916
5 0       9091.742000  9091.742000 9091.576 9091.466
6 0       7572.788000  7572.788000 7570.084 7570.083

**New variable:**  
    *`shared_hist`*: dummy variable indicating whether the two countries have: *`colony, comcol, curcol, col45, smctry`*

In [10]:
dists <- dists %>% mutate(shared_hist = ifelse(colony + comcol + curcol + col45 + smctry, 1, 0), .keep = "unused")

head(dists)

  iso_o iso_d contig comlang_off comlang_ethno dist         distcap
1 ABW   ABW   0      0           0                 5.225315     5.225315
2 ABW   AFG   0      0           0             13257.810000 13257.810000
3 ABW   AGO   0      0           0              9516.913000  9516.913000
4 ABW   AIA   0      0           1               983.268200   983.268200
5 ABW   ALB   0      0           0              9091.742000  9091.742000
6 ABW   AND   0      1           0              7572.788000  7572.788000
  distw    distwces shared_hist
1 25.09354 23.04723 0
2 13168.22 13166.37 0
3 9587.316 9584.193 0
4 976.8974 976.8916 0
5 9091.576 9091.466 0
6 7570.084 7570.083 0

  iso_o iso_d contig comlang_off comlang_ethno dist         distcap
1 ABW   ABW   0      0           0                 5.225315     5.225315
2 ABW   AFG   0      0           0             13257.810000 13257.810000
3 ABW   AGO   0      0           0              9516.913000  9516.913000
4 ABW   AIA   0      0           1               983.268200   983.268200
5 ABW   ALB   0      0           0              9091.742000  9091.742000
6 ABW   AND   0      1           0              7572.788000  7572.788000
  distw    distwces shared_hist
1 25.09354 23.04723 0
2 13168.22 13166.37 0
3 9587.316 9584.193 0
4 976.8974 976.8916 0
5 9091.576 9091.466 0
6 7570.084 7570.083 0

#### Population + Area + Geographic distance  + Shared history

In [11]:
area_pop_gd_d <- area_pop %>% select(!iso2) %>%
                               merge(dists, by.x=c("iso3"), by.y=c("iso_d")) %>%
                               rename(iso_d = iso3, destination = country, area_d = area, pop_d = population) 

area_pop_gd_o <- area_pop %>% select(!iso2) %>% 
                               merge(dists, by.x=c("iso3"), by.y=c("iso_o")) %>%
                               rename(iso_o = iso3, origin = country, area_o = area, pop_o = population) 

area_pop_gdist <- merge(area_pop_gd_d, area_pop_gd_o)

head(area_pop_gdist)

  iso_d iso_o contig comlang_off comlang_ethno dist       distcap    distw
1 ARG   ARG   0      0           0               625.6475   625.6475 533.9082
2 ARG   AUS   0      0           0             11801.3600 11733.8800 12044.57
3 ARG   BRA   1      0           0              1691.0670  2353.2570 2391.846
4 ARG   CHL   1      1           1              1128.3170  1128.3170 1156.726
5 ARG   ESP   0      1           1             10065.8500 10065.8500 10079.66
6 ARG   FRA   0      0           0             11072.2500 11072.2500 10932.34
  distwces shared_hist destination area_d  pop_d    origin    area_o  pop_o
1 96.14934 0           Argentina   2766889 44780675 Argentina 2766889  44780675
2 12018.27 0           Argentina   2766889 44780675 Australia 7686848  25203200
3 2089.281 0           Argentina   2766889 44780675 Brazil    8511920 211049519
4 941.6383 0           Argentina   2766889 44780675 Chile      756945  18952035
5 10055.9  1           Argentina   2766889 44780675 Spain      505954  46736782
6 10921.86 0           Argentina   2766889 44780675 France     547026  65129731

  iso_d iso_o contig comlang_off comlang_ethno dist       distcap    distw
1 ARG   ARG   0      0           0               625.6475   625.6475 533.9082
2 ARG   AUS   0      0           0             11801.3600 11733.8800 12044.57
3 ARG   BRA   1      0           0              1691.0670  2353.2570 2391.846
4 ARG   CHL   1      1           1              1128.3170  1128.3170 1156.726
5 ARG   ESP   0      1           1             10065.8500 10065.8500 10079.66
6 ARG   FRA   0      0           0             11072.2500 11072.2500 10932.34
  distwces shared_hist destination area_d  pop_d    origin    area_o  pop_o
1 96.14934 0           Argentina   2766889 44780675 Argentina 2766889  44780675
2 12018.27 0           Argentina   2766889 44780675 Australia 7686848  25203200
3 2089.281 0           Argentina   2766889 44780675 Brazil    8511920 211049519
4 941.6383 0           Argentina   2766889 44780675 Chile      756945  18952035
5 10055.9  1           Argentina   2766889 44780675 Spain      505954  46736782
6 10921.86 0           Argentina   2766889 44780675 France     547026  65129731

## Language  
### Datasource: [CEPII](http://www.cepii.fr/CEPII/en/bdd_modele/presentation.asp?id=19)   

<b>Variables [Sarah's notes]</b>  
    *`col`*: common official language (0 or 1); 19 languages considered.    
    *`csl`*: p(two random people understand a common language) >= *`cnl`*.  
    *`cnl`*: p(two random people share a native language).  
    *`lp`*: lexical closeness of native langauges; set to 0 when *`cnl`* is 1 or 0 also set to 0 if there is no dominant native language (e.g. India).  
    *`lp1`*: tree based. 4 possibilities, 2 languages belonging to:  
        0: separate family trees  
        0.25: different branches of same tree (English and French),  
        0.50: the same branch (English and German),  
        0.75: the same sub-branch (German and Dutch)  
    *`lp2`*: lexical similarity of 200 words, continuous scale 0-100 normalized *`lp1`*, *`lp2`* so coefficients are comparable to each other and *`col, prox1, prox2`* are unadjusted versions of *`lp1`* and *`lp2`*?

In [12]:
langs <- read.csv("data/cepii_language.csv")

head(langs)

  X iso_o country_o   iso_d country_d           col csl cnl prox1 lp1
1 1 AFG   Afghanistan ALB   Albania             0   0   0   0.25        NA
2 2 AFG   Afghanistan DZA   Algeria             0   0   0   0.00  0.000000
3 3 AFG   Afghanistan AND   Andorra             0   0   0   0.25  1.945866
4 4 AFG   Afghanistan AGO   Angola              0   0   0   0.25        NA
5 5 AFG   Afghanistan AIA   Anguilla            0   0   0   0.25        NA
6 6 AFG   Afghanistan ATG   Antigua and Barbuda 0   0   0   0.25  1.945866
  prox2      lp2       cl         cle
1 0.07342058        NA         NA 0.08662836
2 0.08527792 0.7640970 0.09992715 0.10061873
3 0.12025990 1.0775385 0.14091842 0.14189370
4 0.11890529        NA         NA 0.14029542
5 0.09291404        NA         NA 0.10962854
6 0.09291404 0.8325174 0.10887503 0.10962854

  X iso_o country_o   iso_d country_d           col csl cnl prox1 lp1
1 1 AFG   Afghanistan ALB   Albania             0   0   0   0.25        NA
2 2 AFG   Afghanistan DZA   Algeria             0   0   0   0.00  0.000000
3 3 AFG   Afghanistan AND   Andorra             0   0   0   0.25  1.945866
4 4 AFG   Afghanistan AGO   Angola              0   0   0   0.25        NA
5 5 AFG   Afghanistan AIA   Anguilla            0   0   0   0.25        NA
6 6 AFG   Afghanistan ATG   Antigua and Barbuda 0   0   0   0.25  1.945866
  prox2      lp2       cl         cle
1 0.07342058        NA         NA 0.08662836
2 0.08527792 0.7640970 0.09992715 0.10061873
3 0.12025990 1.0775385 0.14091842 0.14189370
4 0.11890529        NA         NA 0.14029542
5 0.09291404        NA         NA 0.10962854
6 0.09291404 0.8325174 0.10887503 0.10962854

In [13]:
langs <- langs %>% filter (iso_o %in% isos3 & iso_d %in% isos3)

head(langs)

  X    iso_o country_o iso_d country_d col csl        cnl        prox1 lp1
1 1368 ARG   Argentina AUS   Australia 0   0.02058416 0.00080000 0.25  1.945866
2 1383 ARG   Argentina BRA   Brazil    0   0.06052872 0.00080000 0.75  5.837599
3 1396 ARG   Argentina CHL   Chile     1   0.98010004 0.85439998 0.00  0.000000
4 1422 ARG   Argentina FRA   France    0   0.13392781 0.01039232 0.50  3.891733
5 1441 ARG   Argentina IDN   Indonesia 0   0.00000000 0.00000000 0.00  0.000000
6 1448 ARG   Argentina JPN   Japan     0   0.00000000 0.00000000 0.00  0.000000
  prox2      lp2       cl         cle
1 0.13052547 1.1695188 0.15362507 0.15468276
2 0.42439765 3.8026376 0.49770382 0.50114280
3 0.00000000 0.0000000 0.87344128 0.87256539
4 0.25450581 2.2803929 0.30551848 0.30756098
5 0.07436915 0.6663537 0.08714446 0.08774757
6 0.06896222 0.6179070 0.08080870 0.08136797

  X    iso_o country_o iso_d country_d col csl        cnl        prox1 lp1
1 1368 ARG   Argentina AUS   Australia 0   0.02058416 0.00080000 0.25  1.945866
2 1383 ARG   Argentina BRA   Brazil    0   0.06052872 0.00080000 0.75  5.837599
3 1396 ARG   Argentina CHL   Chile     1   0.98010004 0.85439998 0.00  0.000000
4 1422 ARG   Argentina FRA   France    0   0.13392781 0.01039232 0.50  3.891733
5 1441 ARG   Argentina IDN   Indonesia 0   0.00000000 0.00000000 0.00  0.000000
6 1448 ARG   Argentina JPN   Japan     0   0.00000000 0.00000000 0.00  0.000000
  prox2      lp2       cl         cle
1 0.13052547 1.1695188 0.15362507 0.15468276
2 0.42439765 3.8026376 0.49770382 0.50114280
3 0.00000000 0.0000000 0.87344128 0.87256539
4 0.25450581 2.2803929 0.30551848 0.30756098
5 0.07436915 0.6663537 0.08714446 0.08774757
6 0.06896222 0.6179070 0.08080870 0.08136797

#### Population + Area + Geographic distance + Shared history +  Language

In [14]:
area_pop_gdist_lang <- langs %>% select(!c(X, country_o, country_d)) %>%
                                merge(area_pop_gdist)

head(area_pop_gdist_lang)

  iso_o iso_d col csl        cnl        prox1 lp1      prox2     lp2
1 ARG   AUS   0   0.02058416 0.00080000 0.25  1.945866 0.1305255 1.169519
2 ARG   BRA   0   0.06052872 0.00080000 0.75  5.837599 0.4243976 3.802638
3 ARG   CHL   1   0.98010004 0.85439998 0.00  0.000000 0.0000000 0.000000
4 ARG   ESP   1   0.98013985 0.85445821 0.00  0.000000 0.0000000 0.000000
5 ARG   FRA   0   0.13392781 0.01039232 0.50  3.891733 0.2545058 2.280393
6 ARG   GBR   0   0.08325152 0.00000000 0.25  1.945866 0.1305255 1.169519
  cl        ... distcap   distw    distwces shared_hist destination   area_d
1 0.1536251 ... 11733.880 12044.57 12018.27 0           Australia     7686848
2 0.4977038 ...  2353.257 2391.846 2089.281 0           Brazil        8511920
3 0.8734413 ...  1128.317 1156.726 941.6383 0           Chile          756945
4 0.8734919 ... 10065.850 10079.66 10055.9  1           Spain          505954
5 0.3055185 ... 11072.250 10932.34 10921.86 0           France         547026
6 0.1529474 ... 11147.480 11136.96 11128.22 0           Great Britain  244110
  pop_d     origin    area_o  pop_o
1  25203200 Argentina 2766889 44780675
2 211049519 Argentina 2766889 44780675
3  18952035 Argentina 2766889 44780675
4  46736782 Argentina 2766889 44780675
5  65129731 Argentina 2766889 44780675
6  67530161 Argentina 2766889 44780675

  iso_o iso_d col csl        cnl        prox1 lp1      prox2     lp2
1 ARG   AUS   0   0.02058416 0.00080000 0.25  1.945866 0.1305255 1.169519
2 ARG   BRA   0   0.06052872 0.00080000 0.75  5.837599 0.4243976 3.802638
3 ARG   CHL   1   0.98010004 0.85439998 0.00  0.000000 0.0000000 0.000000
4 ARG   ESP   1   0.98013985 0.85445821 0.00  0.000000 0.0000000 0.000000
5 ARG   FRA   0   0.13392781 0.01039232 0.50  3.891733 0.2545058 2.280393
6 ARG   GBR   0   0.08325152 0.00000000 0.25  1.945866 0.1305255 1.169519
  cl        ... distcap   distw    distwces shared_hist destination   area_d
1 0.1536251 ... 11733.880 12044.57 12018.27 0           Australia     7686848
2 0.4977038 ...  2353.257 2391.846 2089.281 0           Brazil        8511920
3 0.8734413 ...  1128.317 1156.726 941.6383 0           Chile          756945
4 0.8734919 ... 10065.850 10079.66 10055.9  1           Spain          505954
5 0.3055185 ... 11072.250 10932.34 10921.86 0           France         547026
6 0.1529474 ... 11147.480 11136.96 11128.22 0           Great Britain  244110
  pop_d     origin    area_o  pop_o
1  25203200 Argentina 2766889 44780675
2 211049519 Argentina 2766889 44780675
3  18952035 Argentina 2766889 44780675
4  46736782 Argentina 2766889 44780675
5  65129731 Argentina 2766889 44780675
6  67530161 Argentina 2766889 44780675

In [15]:
dim(area_pop_gdist_lang)

[1] 240  25

[1] 240  25

## GDP (constant 2010) 2019  
### Datasource: [World Bank](https://databank.worldbank.org/source/world-development-indicators)

*`GDP`*: GDP (constant 2010) in 2019 in US$

GDP at purchaser's prices is the sum of gross value added by all resident producers in the economy plus any product taxes and minus any subsidies not included in the value of the products. It is calculated without making deductions for depreciation of fabricated assets or for depletion and degradation of natural resources. Data are in constant 2010 U.S. dollars. Dollar figures for GDP are converted from domestic currencies using 2010 official exchange rates. For a few countries where the official exchange rate does not reflect the rate effectively applied to actual foreign exchange transactions, an alternative conversion factor is used.

In [16]:
gdp <- read.csv("data/subset-GDP_constant2010-wb2019.csv")

head(gdp)

  iso_country GDP
1 AUS         1.450499e+12
2 ARG         4.378134e+11
3 BRA         2.364446e+12
4 CHL         2.850370e+11
5 FRA         2.971919e+12
6 IDN         1.204457e+12

  iso_country GDP
1 AUS         1.450499e+12
2 ARG         4.378134e+11
3 BRA         2.364446e+12
4 CHL         2.850370e+11
5 FRA         2.971919e+12
6 IDN         1.204457e+12

In [17]:
area_pop_gdist_lang_gdp <- area_pop_gdist_lang %>% 
                               merge(gdp, by.x=c("iso_o"), by.y=c("iso_country")) %>% 
                               rename(GDP_o = GDP) %>%
                               merge(gdp, by.x=c("iso_d"), by.y=c("iso_country")) %>%
                               rename(GDP_d = GDP)
                               
head(area_pop_gdist_lang_gdp)

  iso_d iso_o col csl        cnl    prox1 lp1      prox2     lp2      cl
1 ARG   CHL   1   0.98010004 0.8544 0.00  0.000000 0.0000000 0.000000 0.8734413
2 ARG   GBR   0   0.08325152 0.0000 0.25  1.945866 0.1305255 1.169519 0.1529474
3 ARG   AUS   0   0.02058416 0.0008 0.25  1.945866 0.1305255 1.169519 0.1536251
4 ARG   KOR   0   0.00000000 0.0000 0.00  0.000000 0.0000000 0.000000 0.0000000
5 ARG   BRA   0   0.06052872 0.0008 0.75  5.837599 0.4243976 3.802638 0.4977038
6 ARG   MEX   1   0.98010004 0.8832 0.00  0.000000 0.0000000 0.000000 0.8984749
  ... distwces shared_hist destination area_d  pop_d    origin        area_o
1 ... 941.6383 0           Argentina   2766889 44780675 Chile          756945
2 ... 11128.22 0           Argentina   2766889 44780675 Great Britain  244110
3 ... 12018.27 0           Argentina   2766889 44780675 Australia     7686848
4 ... 19137.75 0           Argentina   2766889 44780675 South Korea     99484
5 ... 2089.281 0           Argentina   2766889 44780675 Brazil        8511920
6 ... 7460.572 0           Argentina   2766889 44780675 Mexico        1967210
  pop_o     GDP_o        GDP_d
1  18952035 2.850370e+11 437813398163
2  67530161 2.913557e+12 437813398163
3  25203200 1.450499e+12 437813398163
4  51225321 1.482760e+12 437813398163
5 211049519 2.364446e+12 437813398163
6 127575529 1.309882e+12 437813398163

  iso_d iso_o col csl        cnl    prox1 lp1      prox2     lp2      cl
1 ARG   CHL   1   0.98010004 0.8544 0.00  0.000000 0.0000000 0.000000 0.8734413
2 ARG   GBR   0   0.08325152 0.0000 0.25  1.945866 0.1305255 1.169519 0.1529474
3 ARG   AUS   0   0.02058416 0.0008 0.25  1.945866 0.1305255 1.169519 0.1536251
4 ARG   KOR   0   0.00000000 0.0000 0.00  0.000000 0.0000000 0.000000 0.0000000
5 ARG   BRA   0   0.06052872 0.0008 0.75  5.837599 0.4243976 3.802638 0.4977038
6 ARG   MEX   1   0.98010004 0.8832 0.00  0.000000 0.0000000 0.000000 0.8984749
  ... distwces shared_hist destination area_d  pop_d    origin        area_o
1 ... 941.6383 0           Argentina   2766889 44780675 Chile          756945
2 ... 11128.22 0           Argentina   2766889 44780675 Great Britain  244110
3 ... 12018.27 0           Argentina   2766889 44780675 Australia     7686848
4 ... 19137.75 0           Argentina   2766889 44780675 South Korea     99484
5 ... 2089.281 0           Argentina   2766889 44780675 Brazil        8511920
6 ... 7460.572 0           Argentina   2766889 44780675 Mexico        1967210
  pop_o     GDP_o        GDP_d
1  18952035 2.850370e+11 437813398163
2  67530161 2.913557e+12 437813398163
3  25203200 1.450499e+12 437813398163
4  51225321 1.482760e+12 437813398163
5 211049519 2.364446e+12 437813398163
6 127575529 1.309882e+12 437813398163

In [18]:
dim(area_pop_gdist_lang_gdp)

[1] 240  27

[1] 240  27

In [19]:
gdp <- read.csv("data/subset-GDPpercapita_constant2010-wb2019.csv")

head(gdp)

  iso_country GDP
1 ARG         12716.22
2 AUS         58868.48
3 BRA          8592.21
4 CHL         13761.37
5 ESP         28087.90
6 FRA         38832.02

  iso_country GDP
1 ARG         12716.22
2 AUS         58868.48
3 BRA          8592.21
4 CHL         13761.37
5 ESP         28087.90
6 FRA         38832.02

In [20]:
area_pop_gdist_lang_gdp <- area_pop_gdist_lang_gdp %>% 
                               merge(gdp, by.x=c("iso_o"), by.y=c("iso_country")) %>% 
                               rename(GDP_percapita_o = GDP) %>%
                               merge(gdp, by.x=c("iso_d"), by.y=c("iso_country")) %>%
                               rename(GDP_percapita_d = GDP)
                               
head(area_pop_gdist_lang_gdp)

  iso_d iso_o col csl        cnl       prox1 lp1      prox2      lp2
1 ARG   MYS   0   0.00000000 0.0000000 0.00  0.000000 0.08409883 0.7535324
2 ARG   GBR   0   0.08325152 0.0000000 0.25  1.945866 0.13052547 1.1695188
3 ARG   AUS   0   0.02058416 0.0008000 0.25  1.945866 0.13052547 1.1695188
4 ARG   JPN   0   0.00000000 0.0000000 0.00  0.000000 0.06896222 0.6179070
5 ARG   ESP   1   0.98013985 0.8544582 0.00  0.000000 0.00000000 0.0000000
6 ARG   IDN   0   0.00000000 0.0000000 0.00  0.000000 0.07436915 0.6663537
  cl         ... destination area_d  pop_d    origin        area_o  pop_o
1 0.09854551 ... Argentina   2766889 44780675 Malaysia       329758  31949789
2 0.15294743 ... Argentina   2766889 44780675 Great Britain  244110  67530161
3 0.15362507 ... Argentina   2766889 44780675 Australia     7686848  25203200
4 0.08080870 ... Argentina   2766889 44780675 Japan          377801 126860299
5 0.87349188 ... Argentina   2766889 44780675 Spain          505954  46736782
6 0.08714446 ... Argentina   2766889 44780675 Indonesia     1933658 270625567
  GDP_o        GDP_d        GDP_percapita_o GDP_percapita_d
1 3.989466e+11 437813398163 11114.543       12716.22
2 2.913557e+12 437813398163 47491.595       12716.22
3 1.450499e+12 437813398163 58868.481       12716.22
4 6.187014e+12 437813398163 36043.784       12716.22
5 1.572013e+12 437813398163 28087.898       12716.22
6 1.204457e+12 437813398163  3892.422       12716.22

  iso_d iso_o col csl        cnl       prox1 lp1      prox2      lp2
1 ARG   MYS   0   0.00000000 0.0000000 0.00  0.000000 0.08409883 0.7535324
2 ARG   GBR   0   0.08325152 0.0000000 0.25  1.945866 0.13052547 1.1695188
3 ARG   AUS   0   0.02058416 0.0008000 0.25  1.945866 0.13052547 1.1695188
4 ARG   JPN   0   0.00000000 0.0000000 0.00  0.000000 0.06896222 0.6179070
5 ARG   ESP   1   0.98013985 0.8544582 0.00  0.000000 0.00000000 0.0000000
6 ARG   IDN   0   0.00000000 0.0000000 0.00  0.000000 0.07436915 0.6663537
  cl         ... destination area_d  pop_d    origin        area_o  pop_o
1 0.09854551 ... Argentina   2766889 44780675 Malaysia       329758  31949789
2 0.15294743 ... Argentina   2766889 44780675 Great Britain  244110  67530161
3 0.15362507 ... Argentina   2766889 44780675 Australia     7686848  25203200
4 0.08080870 ... Argentina   2766889 44780675 Japan          377801 126860299
5 0.87349188 ... Argentina   2766889 44780675 Spain          505954  46736782
6 0.08714446 ... Argentina   2766889 44780675 Indonesia     1933658 270625567
  GDP_o        GDP_d        GDP_percapita_o GDP_percapita_d
1 3.989466e+11 437813398163 11114.543       12716.22
2 2.913557e+12 437813398163 47491.595       12716.22
3 1.450499e+12 437813398163 58868.481       12716.22
4 6.187014e+12 437813398163 36043.784       12716.22
5 1.572013e+12 437813398163 28087.898       12716.22
6 1.204457e+12 437813398163  3892.422       12716.22

In [21]:
dim(area_pop_gdist_lang_gdp)

[1] 240  29

[1] 240  29

## Migration (stock) 2019  
### Datasource: [UN](https://www.un.org/en/development/desa/population/migration/data/estimates2/estimates19.asp)

The dataset presents estimates of international migrant by age, sex and origin. Estimates are presented for 1990, 1995, 2000, 2005, 2010, 2015 and 2019 and are available for all countries and areas of the world. The estimates are based on official statistics on the foreign-born or the foreign population.   
International migrant stock - Total international migrant stock

In [22]:
migration_stock_wide <- read.csv("data/subset-stocks-migration-un2019.csv")
migration_stock_wide[is.na(migration_stock_wide)] <- 0

head(migration_stock_wide)

  destination   Total   Total16 Argentina Australia Brazil Chile  France
1 Argentina     2212879  397927     0        279    49647  216855   8303
2 Australia     7549270 2109825 17583          0    42552   33707  40733
3 Brazil         807006  229897 39078        791        0   20747  12851
4 Chile          939992  177893 72813       3952    20370       0  12562
5 France        8334875 1110686 14253       9192    63208   15857      0
6 Great Britain 9552110 1073094 12239     145692    47487    8668 170142
  Great.Britain Indonesia Japan Malaysia Mexico Russia Singapore South.Korea
1     959          21      4531      2    1475   1917      2       8296
2 1262204       87274     53175 174136    6760  28735  64739     121204
3    6650         978     65955    163    3601   1865    154      11531
4    6668         343      3231    100    6887   2344    237       4247
5  176672        5446     23536   2793   13851  70463   2512      22794
6       0       11543     52930  84638   10457  38917  58432      13171
  Spain  Turkey United.States
1  99769    646   5225
2  19594  42880 114549
3  41321    486  23726
4  22842   1019  20278
5 303245 327508  59356
6  98372 104491 215915

  destination   Total   Total16 Argentina Australia Brazil Chile  France
1 Argentina     2212879  397927     0        279    49647  216855   8303
2 Australia     7549270 2109825 17583          0    42552   33707  40733
3 Brazil         807006  229897 39078        791        0   20747  12851
4 Chile          939992  177893 72813       3952    20370       0  12562
5 France        8334875 1110686 14253       9192    63208   15857      0
6 Great Britain 9552110 1073094 12239     145692    47487    8668 170142
  Great.Britain Indonesia Japan Malaysia Mexico Russia Singapore South.Korea
1     959          21      4531      2    1475   1917      2       8296
2 1262204       87274     53175 174136    6760  28735  64739     121204
3    6650         978     65955    163    3601   1865    154      11531
4    6668         343      3231    100    6887   2344    237       4247
5  176672        5446     23536   2793   13851  70463   2512      22794
6       0       11543     52930  84638   10457  38917  58432      13171
  Spain  Turkey United.States
1  99769    646   5225
2  19594  42880 114549
3  41321    486  23726
4  22842   1019  20278
5 303245 327508  59356
6  98372 104491 215915

In [23]:
migration_stock <- migration_stock_wide %>% 
                pivot_longer(!c(destination, Total, Total16), names_to = "origin", values_to = "m_stock") %>%
                select(destination, Total, origin, m_stock) %>%
                rename(total_imm_in_d = Total)
migration_stock$origin <- chartr(".", " ", migration_stock$origin)

head(migration_stock)

  destination total_imm_in_d origin        m_stock
1 Argentina   2212879        Argentina          0
2 Argentina   2212879        Australia        279
3 Argentina   2212879        Brazil         49647
4 Argentina   2212879        Chile         216855
5 Argentina   2212879        France          8303
6 Argentina   2212879        Great Britain    959

  destination total_imm_in_d origin        m_stock
1 Argentina   2212879        Argentina          0
2 Argentina   2212879        Australia        279
3 Argentina   2212879        Brazil         49647
4 Argentina   2212879        Chile         216855
5 Argentina   2212879        France          8303
6 Argentina   2212879        Great Britain    959

In [24]:
area_pop_mig_d <- area_pop %>% select(country, iso3) %>% 
                               merge(migration_stock, by.x=c("country"), by.y=c("destination")) %>%
                               rename(iso_d = iso3, destination = country) 

area_pop_mig_o <- area_pop %>% select(country, iso3) %>% 
                               merge(migration_stock, by.x=c("country"), by.y=c("origin")) %>%
                               rename(iso_o = iso3, origin = country) 

migration_stock <- merge(area_pop_mig_d, area_pop_mig_o)

head(migration_stock)

  destination total_imm_in_d origin        m_stock iso_d iso_o
1 Argentina   2212879        Argentina          0  ARG   ARG
2 Argentina   2212879        Australia        279  ARG   AUS
3 Argentina   2212879        Brazil         49647  ARG   BRA
4 Argentina   2212879        Chile         216855  ARG   CHL
5 Argentina   2212879        France          8303  ARG   FRA
6 Argentina   2212879        Great Britain    959  ARG   GBR

  destination total_imm_in_d origin        m_stock iso_d iso_o
1 Argentina   2212879        Argentina          0  ARG   ARG
2 Argentina   2212879        Australia        279  ARG   AUS
3 Argentina   2212879        Brazil         49647  ARG   BRA
4 Argentina   2212879        Chile         216855  ARG   CHL
5 Argentina   2212879        France          8303  ARG   FRA
6 Argentina   2212879        Great Britain    959  ARG   GBR

In [25]:
official_dataset <- merge(area_pop_gdist_lang_gdp, migration_stock) %>% select(!total_imm_in_d)

head(official_dataset)

  iso_d iso_o destination origin        col csl        cnl        prox1
1 ARG   AUS   Argentina   Australia     0   0.02058416 0.00080000 0.25
2 ARG   BRA   Argentina   Brazil        0   0.06052872 0.00080000 0.75
3 ARG   CHL   Argentina   Chile         1   0.98010004 0.85439998 0.00
4 ARG   ESP   Argentina   Spain         1   0.98013985 0.85445821 0.00
5 ARG   FRA   Argentina   France        0   0.13392781 0.01039232 0.50
6 ARG   GBR   Argentina   Great Britain 0   0.08325152 0.00000000 0.25
  lp1      prox2     ... shared_hist area_d  pop_d    area_o  pop_o
1 1.945866 0.1305255 ... 0           2766889 44780675 7686848  25203200
2 5.837599 0.4243976 ... 0           2766889 44780675 8511920 211049519
3 0.000000 0.0000000 ... 0           2766889 44780675  756945  18952035
4 0.000000 0.0000000 ... 1           2766889 44780675  505954  46736782
5 3.891733 0.2545058 ... 0           2766889 44780675  547026  65129731
6 1.945866 0.1305255 ... 0           2766889 44780675  244110  67530161
  GDP_o        GDP_d        GDP_percapita_o GDP_percapita_d m_stock
1 1.450499e+12 437813398163 58868.48        12716.22           279
2 2.364446e+12 437813398163  8592.21        12716.22         49647
3 2.850370e+11 437813398163 13761.37        12716.22        216855
4 1.572013e+12 437813398163 28087.90        12716.22         99769
5 2.971919e+12 437813398163 38832.02        12716.22          8303
6 2.913557e+12 437813398163 47491.59        12716.22           959

  iso_d iso_o destination origin        col csl        cnl        prox1
1 ARG   AUS   Argentina   Australia     0   0.02058416 0.00080000 0.25
2 ARG   BRA   Argentina   Brazil        0   0.06052872 0.00080000 0.75
3 ARG   CHL   Argentina   Chile         1   0.98010004 0.85439998 0.00
4 ARG   ESP   Argentina   Spain         1   0.98013985 0.85445821 0.00
5 ARG   FRA   Argentina   France        0   0.13392781 0.01039232 0.50
6 ARG   GBR   Argentina   Great Britain 0   0.08325152 0.00000000 0.25
  lp1      prox2     ... shared_hist area_d  pop_d    area_o  pop_o
1 1.945866 0.1305255 ... 0           2766889 44780675 7686848  25203200
2 5.837599 0.4243976 ... 0           2766889 44780675 8511920 211049519
3 0.000000 0.0000000 ... 0           2766889 44780675  756945  18952035
4 0.000000 0.0000000 ... 1           2766889 44780675  505954  46736782
5 3.891733 0.2545058 ... 0           2766889 44780675  547026  65129731
6 1.945866 0.1305255 ... 0           2766889 44780675  244110  67530161
  GDP_o        GDP_d        GDP_percapita_o GDP_percapita_d m_stock
1 1.450499e+12 437813398163 58868.48        12716.22           279
2 2.364446e+12 437813398163  8592.21        12716.22         49647
3 2.850370e+11 437813398163 13761.37        12716.22        216855
4 1.572013e+12 437813398163 28087.90        12716.22         99769
5 2.971919e+12 437813398163 38832.02        12716.22          8303
6 2.913557e+12 437813398163 47491.59        12716.22           959

In [26]:
dim(official_dataset)

[1] 240  30

[1] 240  30

## Migration (flow) 2015-2020  
### Datasource: [Abel, Guy; E. Cohen, Joel (2019)](https://figshare.com/collections/Bilateral_international_migration_flow_estimates_for_200_countries/4470464)

This collection contains bilateral international migration flow estimates for 200 countries for five-year periods between 1990 and 2020.

In [27]:
migration_flow <- read.csv("data/abel_cohen_migration_flow.csv")
migration_flow[is.na(migration_flow)] <- 0

head(migration_flow)

  year0 orig dest sd_drop_neg sd_rev_neg mig_rate da_min_open da_min_closed
1 1990  BDI  BDI   0           0          0        0           0
2 1990  COM  BDI   0           0          0        0           0
3 1990  DJI  BDI   0           0          0        0           0
4 1990  ERI  BDI   0           0          0        0           0
5 1990  ETH  BDI   0           0          0        0           0
6 1990  KEN  BDI  30          30         69       45          29
  da_pb_closed
1  0
2  0
3  0
4 90
5  2
6 87

  year0 orig dest sd_drop_neg sd_rev_neg mig_rate da_min_open da_min_closed
1 1990  BDI  BDI   0           0          0        0           0
2 1990  COM  BDI   0           0          0        0           0
3 1990  DJI  BDI   0           0          0        0           0
4 1990  ERI  BDI   0           0          0        0           0
5 1990  ETH  BDI   0           0          0        0           0
6 1990  KEN  BDI  30          30         69       45          29
  da_pb_closed
1  0
2  0
3  0
4 90
5  2
6 87

In [28]:
migration_flow <- migration_flow %>% 
                filter(year0 == 2015) %>%
                select(!year0) %>%
                rename(iso_d = dest, iso_o = orig, 
                       m_flow_sd_drop_neg = sd_drop_neg, 
                       m_flow_sd_rev_neg = sd_rev_neg, 
                       m_flow_mig_rate = mig_rate, 
                       m_flow_da_min_open = da_min_open, 
                       m_flow_da_min_closed = da_min_closed, 
                       m_flow_da_pb_closed = da_pb_closed)

head(migration_flow)

  iso_o iso_d m_flow_sd_drop_neg m_flow_sd_rev_neg m_flow_mig_rate
1 BDI   BDI     0                  0                 0
2 COM   BDI     0                  0                 0
3 DJI   BDI     0                  0                 0
4 ERI   BDI     0                131                 0
5 ETH   BDI     0                 14                 0
6 KEN   BDI   194                194               211
  m_flow_da_min_open m_flow_da_min_closed m_flow_da_pb_closed
1    0                 0                     0
2    0                 0                     0
3    0                 0                     0
4   43                60                   183
5    9                 3                    24
6 1168               447                  1554

  iso_o iso_d m_flow_sd_drop_neg m_flow_sd_rev_neg m_flow_mig_rate
1 BDI   BDI     0                  0                 0
2 COM   BDI     0                  0                 0
3 DJI   BDI     0                  0                 0
4 ERI   BDI     0                131                 0
5 ETH   BDI     0                 14                 0
6 KEN   BDI   194                194               211
  m_flow_da_min_open m_flow_da_min_closed m_flow_da_pb_closed
1    0                 0                     0
2    0                 0                     0
3    0                 0                     0
4   43                60                   183
5    9                 3                    24
6 1168               447                  1554

In [29]:
official_dataset <- merge(official_dataset, migration_flow)

head(official_dataset)

  iso_d iso_o destination origin        col csl        cnl        prox1
1 ARG   AUS   Argentina   Australia     0   0.02058416 0.00080000 0.25
2 ARG   BRA   Argentina   Brazil        0   0.06052872 0.00080000 0.75
3 ARG   CHL   Argentina   Chile         1   0.98010004 0.85439998 0.00
4 ARG   ESP   Argentina   Spain         1   0.98013985 0.85445821 0.00
5 ARG   FRA   Argentina   France        0   0.13392781 0.01039232 0.50
6 ARG   GBR   Argentina   Great Britain 0   0.08325152 0.00000000 0.25
  lp1      prox2     ... GDP_d        GDP_percapita_o GDP_percapita_d m_stock
1 1.945866 0.1305255 ... 437813398163 58868.48        12716.22           279
2 5.837599 0.4243976 ... 437813398163  8592.21        12716.22         49647
3 0.000000 0.0000000 ... 437813398163 13761.37        12716.22        216855
4 0.000000 0.0000000 ... 437813398163 28087.90        12716.22         99769
5 3.891733 0.2545058 ... 437813398163 38832.02        12716.22          8303
6 1.945866 0.1305255 ... 437813398163 47491.59        12716.22           959
  m_flow_sd_drop_neg m_flow_sd_rev_neg m_flow_mig_rate m_flow_da_min_open
1    1                  1                 56              16
2  475                475               9997            2332
3 2079               2079              43666           13875
4  956                956              20090            6434
5   79                 79               1672             467
6    8                  8                193              45
  m_flow_da_min_closed m_flow_da_pb_closed
1   105                 2224
2     0                10767
3 53604                84213
4  5516                49532
5   156                 3048
6   126                 1559

  iso_d iso_o destination origin        col csl        cnl        prox1
1 ARG   AUS   Argentina   Australia     0   0.02058416 0.00080000 0.25
2 ARG   BRA   Argentina   Brazil        0   0.06052872 0.00080000 0.75
3 ARG   CHL   Argentina   Chile         1   0.98010004 0.85439998 0.00
4 ARG   ESP   Argentina   Spain         1   0.98013985 0.85445821 0.00
5 ARG   FRA   Argentina   France        0   0.13392781 0.01039232 0.50
6 ARG   GBR   Argentina   Great Britain 0   0.08325152 0.00000000 0.25
  lp1      prox2     ... GDP_d        GDP_percapita_o GDP_percapita_d m_stock
1 1.945866 0.1305255 ... 437813398163 58868.48        12716.22           279
2 5.837599 0.4243976 ... 437813398163  8592.21        12716.22         49647
3 0.000000 0.0000000 ... 437813398163 13761.37        12716.22        216855
4 0.000000 0.0000000 ... 437813398163 28087.90        12716.22         99769
5 3.891733 0.2545058 ... 437813398163 38832.02        12716.22          8303
6 1.945866 0.1305255 ... 437813398163 47491.59        12716.22           959
  m_flow_sd_drop_neg m_flow_sd_rev_neg m_flow_mig_rate m_flow_da_min_open
1    1                  1                 56              16
2  475                475               9997            2332
3 2079               2079              43666           13875
4  956                956              20090            6434
5   79                 79               1672             467
6    8                  8                193              45
  m_flow_da_min_closed m_flow_da_pb_closed
1   105                 2224
2     0                10767
3 53604                84213
4  5516                49532
5   156                 3048
6   126                 1559

In [30]:
dim(official_dataset)

[1] 240  36

[1] 240  36

## WVS
### Datasource: [WVS (2020)](https://www.worldvaluessurvey.org/wvs.jsp)

In [31]:
wvs <- read.csv("data/subset-wvs-wave7-2020.csv")
wvs

   country       S.SEV   T.SV
1  Argentina      0.2276 -0.3849
2  Australia      2.2681  0.6354
3  Brazil        -0.0503 -0.3121
4  Chile         -0.0915  0.2214
5  France         1.4099  0.5362
6  Great Britain  2.3458  0.4881
7  Indonesia     -0.7675 -1.2452
8  Japan          1.2921  1.6625
9  Malaysia      -0.3557  0.0483
10 Mexico         0.2899 -1.0468
11 Russia        -0.5999  0.3912
12 Singapore     -0.1232  0.0874
13 South Korea   -0.4974  1.4547
14 Spain          1.4371  0.6482
15 Turkey        -0.6649 -0.4720
16 United States  1.5087  0.5770

   country       S.SEV   T.SV
1  Argentina      0.2276 -0.3849
2  Australia      2.2681  0.6354
3  Brazil        -0.0503 -0.3121
4  Chile         -0.0915  0.2214
5  France         1.4099  0.5362
6  Great Britain  2.3458  0.4881
7  Indonesia     -0.7675 -1.2452
8  Japan          1.2921  1.6625
9  Malaysia      -0.3557  0.0483
10 Mexico         0.2899 -1.0468
11 Russia        -0.5999  0.3912
12 Singapore     -0.1232  0.0874
13 South Korea   -0.4974  1.4547
14 Spain          1.4371  0.6482
15 Turkey        -0.6649 -0.4720
16 United States  1.5087  0.5770

In [32]:
#Cosine SIMILARITY
wvs_cosine <- as.data.frame(cosine(t(as.matrix(wvs[,2:3]))))
colnames(wvs_cosine) <- wvs$country
wvs_cosine["origin"] <- wvs$country


wvs_cosine_longer <- pivot_longer(wvs_cosine, -c("origin"), values_to = "CS_wvs", names_to = "destination")
head(wvs_cosine_longer)

  origin    destination   CS_wvs
1 Argentina Argentina      1.0000000
2 Argentina Australia      0.2579213
3 Argentina Brazil         0.7688173
4 Argentina Chile         -0.9899189
5 Argentina France         0.1697698
6 Argentina Great Britain  0.3229716

  origin    destination   CS_wvs
1 Argentina Argentina      1.0000000
2 Argentina Australia      0.2579213
3 Argentina Brazil         0.7688173
4 Argentina Chile         -0.9899189
5 Argentina France         0.1697698
6 Argentina Great Britain  0.3229716

In [33]:
wvs <- read.csv("data/subset-wvs-wave7-2020.csv")

#euclidean SIMILARITY
wvs_euc <- as.data.frame(1 - distance(as.matrix(wvs[,2:3]), method="euclidean")/max(distance(as.matrix(wvs[,2:3]), method="euclidean")))
colnames(wvs_euc) <- wvs$country
wvs_euc["origin"] <- wvs$country


wvs_euc_longer <- pivot_longer(wvs_euc, -c("origin"), values_to = "CS_euc_wvs", names_to = "destination")
head(wvs_euc_longer)

Metric: 'euclidean'; comparing: 16 vectors.

Metric: 'euclidean'; comparing: 16 vectors.

Metric: 'euclidean'; comparing: 16 vectors.

Metric: 'euclidean'; comparing: 16 vectors.

  origin    destination   CS_euc_wvs
1 Argentina Argentina     1.0000000
2 Argentina Australia     0.3611266
3 Argentina Brazil        0.9195511
4 Argentina Chile         0.8081323
5 Argentina France        0.5802905
6 Argentina Great Britain 0.3584166

  origin    destination   CS_euc_wvs
1 Argentina Argentina     1.0000000
2 Argentina Australia     0.3611266
3 Argentina Brazil        0.9195511
4 Argentina Chile         0.8081323
5 Argentina France        0.5802905
6 Argentina Great Britain 0.3584166

## Foursquare
### Datasource: [You Are What You Eat (and Drink): Identifying Cultural Boundaries by Analyzing Food and Drink Habits in Foursquare. Thiago H. Silva, Pedro O. S. Vaz de Melo, Jussara M. Almeida, Mirco Musolesi, Antonio A. F. Loureiro (2014)](https://www.aaai.org/ocs/index.php/ICWSM/ICWSM14/paper/viewPaper/8113)

In [34]:
foursquare <- read.csv("data/foursquare.csv")
foursquare

   country       PC1   PC2
1  Argentina      0.16 -0.03
2  Australia      0.05  0.17
3  Brazil         0.19 -0.18
4  Chile          0.17 -0.09
5  France         0.21  0.07
6  Great Britain  0.21  0.18
7  Indonesia     -0.28 -0.09
8  Japan         -0.20  0.09
9  Malaysia      -0.35 -0.19
10 Mexico         0.19 -0.15
11 Russia        -0.08  0.08
12 Singapore     -0.25 -0.18
13 South Korea   -0.19  0.17
14 Spain          0.20  0.10
15 Turkey        -0.09  0.19
16 United States  0.22 -0.18

   country       PC1   PC2
1  Argentina      0.16 -0.03
2  Australia      0.05  0.17
3  Brazil         0.19 -0.18
4  Chile          0.17 -0.09
5  France         0.21  0.07
6  Great Britain  0.21  0.18
7  Indonesia     -0.28 -0.09
8  Japan         -0.20  0.09
9  Malaysia      -0.35 -0.19
10 Mexico         0.19 -0.15
11 Russia        -0.08  0.08
12 Singapore     -0.25 -0.18
13 South Korea   -0.19  0.17
14 Spain          0.20  0.10
15 Turkey        -0.09  0.19
16 United States  0.22 -0.18

In [35]:
#cosine SIMILARITY
foursquare_cosine <- as.data.frame(cosine(t(as.matrix(foursquare[,2:3]))))
colnames(foursquare_cosine) <- foursquare$country
foursquare_cosine["origin"] <- foursquare$country


foursquare_cosine_longer <- pivot_longer(foursquare_cosine, -c("origin"), values_to = "CS_foursquare", names_to = "destination")
head(foursquare_cosine_longer)

  origin    destination   CS_foursquare
1 Argentina Argentina     1.0000000
2 Argentina Australia     0.1005334
3 Argentina Brazil        0.8402622
4 Argentina Chile         0.9548769
5 Argentina France        0.8741573
6 Argentina Great Britain 0.6263188

  origin    destination   CS_foursquare
1 Argentina Argentina     1.0000000
2 Argentina Australia     0.1005334
3 Argentina Brazil        0.8402622
4 Argentina Chile         0.9548769
5 Argentina France        0.8741573
6 Argentina Great Britain 0.6263188

In [36]:
foursquare <- read.csv("data/foursquare.csv")

#euclidean SIMILARITY
foursquare_euc <- as.data.frame(1 - distance(as.matrix(foursquare[,2:3]), method="euclidean")/max(distance(as.matrix(foursquare[,2:3]), method="euclidean")))
colnames(foursquare_euc) <- foursquare$country
foursquare_euc["origin"] <- foursquare$country


foursquare_euc_longer <- pivot_longer(foursquare_euc, -c("origin"), values_to = "CS_euc_foursquare", names_to = "destination")
head(foursquare_euc_longer)

Metric: 'euclidean'; comparing: 16 vectors.

Metric: 'euclidean'; comparing: 16 vectors.

Metric: 'euclidean'; comparing: 16 vectors.

Metric: 'euclidean'; comparing: 16 vectors.

  origin    destination   CS_euc_foursquare
1 Argentina Argentina     1.0000000
2 Argentina Australia     0.6599275
3 Argentina Brazil        0.7720915
4 Argentina Chile         0.9093739
5 Argentina France        0.8334258
6 Argentina Great Britain 0.6783781

  origin    destination   CS_euc_foursquare
1 Argentina Argentina     1.0000000
2 Argentina Australia     0.6599275
3 Argentina Brazil        0.7720915
4 Argentina Chile         0.9093739
5 Argentina France        0.8334258
6 Argentina Great Britain 0.6783781

In [37]:
official_dataset <- merge(official_dataset, wvs_cosine_longer)
official_dataset <- merge(official_dataset, wvs_euc_longer)
official_dataset <- merge(official_dataset, foursquare_cosine_longer)
official_dataset <- merge(official_dataset, foursquare_euc_longer)

head(official_dataset)

  destination origin        iso_d iso_o col csl        cnl        prox1
1 Argentina   Australia     ARG   AUS   0   0.02058416 0.00080000 0.25
2 Argentina   Brazil        ARG   BRA   0   0.06052872 0.00080000 0.75
3 Argentina   Chile         ARG   CHL   1   0.98010004 0.85439998 0.00
4 Argentina   France        ARG   FRA   0   0.13392781 0.01039232 0.50
5 Argentina   Great Britain ARG   GBR   0   0.08325152 0.00000000 0.25
6 Argentina   Indonesia     ARG   IDN   0   0.00000000 0.00000000 0.00
  lp1      prox2      ... m_flow_sd_drop_neg m_flow_sd_rev_neg m_flow_mig_rate
1 1.945866 0.13052547 ...    1                  1                 56
2 5.837599 0.42439765 ...  475                475               9997
3 0.000000 0.00000000 ... 2079               2079              43666
4 3.891733 0.25450581 ...   79                 79               1672
5 1.945866 0.13052547 ...    8                  8                193
6 0.000000 0.07436915 ...    0                  0                  4
  m_flow_da_min_open m_flow_da_min_closed m_flow_da_pb_closed CS_wvs
1    16                105                 2224                0.2579213
2  2332                  0                10767                0.7688173
3 13875              53604                84213               -0.9899189
4   467                156                 3048                0.1697698
5    45                126                 1559                0.3229716
6     1                  4                    7                0.4656905
  CS_euc_wvs CS_foursquare CS_euc_foursquare
1 0.3611266   0.1005334    0.6599275
2 0.9195511   0.8402622    0.7720915
3 0.8081323   0.9548769    0.9093739
4 0.5802905   0.8741573    0.8334258
5 0.3584166   0.6263188    0.6783781
6 0.6316296  -0.8793284    0.3383839

  destination origin        iso_d iso_o col csl        cnl        prox1
1 Argentina   Australia     ARG   AUS   0   0.02058416 0.00080000 0.25
2 Argentina   Brazil        ARG   BRA   0   0.06052872 0.00080000 0.75
3 Argentina   Chile         ARG   CHL   1   0.98010004 0.85439998 0.00
4 Argentina   France        ARG   FRA   0   0.13392781 0.01039232 0.50
5 Argentina   Great Britain ARG   GBR   0   0.08325152 0.00000000 0.25
6 Argentina   Indonesia     ARG   IDN   0   0.00000000 0.00000000 0.00
  lp1      prox2      ... m_flow_sd_drop_neg m_flow_sd_rev_neg m_flow_mig_rate
1 1.945866 0.13052547 ...    1                  1                 56
2 5.837599 0.42439765 ...  475                475               9997
3 0.000000 0.00000000 ... 2079               2079              43666
4 3.891733 0.25450581 ...   79                 79               1672
5 1.945866 0.13052547 ...    8                  8                193
6 0.000000 0.07436915 ...    0                  0                  4
  m_flow_da_min_open m_flow_da_min_closed m_flow_da_pb_closed CS_wvs
1    16                105                 2224                0.2579213
2  2332                  0                10767                0.7688173
3 13875              53604                84213               -0.9899189
4   467                156                 3048                0.1697698
5    45                126                 1559                0.3229716
6     1                  4                    7                0.4656905
  CS_euc_wvs CS_foursquare CS_euc_foursquare
1 0.3611266   0.1005334    0.6599275
2 0.9195511   0.8402622    0.7720915
3 0.8081323   0.9548769    0.9093739
4 0.5802905   0.8741573    0.8334258
5 0.3584166   0.6263188    0.6783781
6 0.6316296  -0.8793284    0.3383839

In [38]:
dim(official_dataset)

[1] 240  40

[1] 240  40

In [39]:
write.csv(official_dataset, "data/subset-official-dataset.csv", row.names = FALSE)

## Cultural Similarity

#### symmetric:   

each country is represented by a vector corresponding to the top (almost) <b>400 dishes</b> (top 50 dishes in all the countries)

![CD](figs/heatmap-similarity-symmetric-tops-topK-cosine-reds.png)

In [40]:
cd_sym <- read.csv("data/FB-food-cultural_similarity-symmetric.csv", check.names=FALSE)
colnames(cd_sym)[1] <- "interests_from"

In [41]:
cd_sym

   interests_from Argentina   Australia  Brazil       Chile       France
1  Argentina       1.00000000 -0.1143361  0.176917369  0.39391861 -0.061345090
2  Australia      -0.11433611  1.0000000 -0.183166299 -0.21693946 -0.181528839
3  Brazil          0.17691737 -0.1831663  1.000000000  0.12196555 -0.009614683
4  Chile           0.39391861 -0.2169395  0.121965552  1.00000000 -0.036574753
5  France         -0.06134509 -0.1815288 -0.009614683 -0.03657475  1.000000000
6  Great Britain  -0.16915309  0.3272787 -0.091449694 -0.14270839 -0.016455120
7  Indonesia      -0.19920772 -0.4212416  0.012284416 -0.12930396  0.029158377
8  Japan          -0.22437150 -0.3694083  0.040389545 -0.08577730  0.097488102
9  Malaysia       -0.28997372  0.1800086 -0.278932779 -0.32750818 -0.291439588
10 Mexico          0.27235146 -0.1925855 -0.023834733  0.34784223 -0.100300082
11 Russia         -0.08055443 -0.4879302  0.102400443 -0.01501271  0.244664725
12 Singapore      -0.20966715  0.2374989 -0.259891577 -0.25536254 -0.254724732
13 South Korea    -0.20142284 -0.2421488 -0.087315962 -0.20503456 -0.120866190
14 Spain           0.16359151 -0.2135439  0.072308406  0.19445874  0.232377125
15 Turkey         -0.09868350 -0.2777654 -0.031722502 -0.07814615  0.136340940
16 United States  -0.12580614  0.4502690 -0.192538169 -0.14241346 -0.142481415
   Great Britain Indonesia   Japan        Malaysia    Mexico      Russia
1  -0.1691530891 -0.19920772 -0.224371502 -0.28997372  0.27235146 -0.08055443
2   0.3272786581 -0.42124163 -0.369408331  0.18000864 -0.19258554 -0.48793018
3  -0.0914496937  0.01228442  0.040389545 -0.27893278 -0.02383473  0.10240044
4  -0.1427083922 -0.12930396 -0.085777299 -0.32750818  0.34784223 -0.01501271
5  -0.0164551200  0.02915838  0.097488102 -0.29143959 -0.10030008  0.24466473
6   1.0000000000 -0.23383791 -0.197735569 -0.06866661 -0.20550659 -0.16012196
7  -0.2338379149  1.00000000  0.364092614 -0.02878002 -0.15926308  0.53888907
8  -0.1977355688  0.36409261  1.000000000 -0.26822899 -0.17332967  0.47569199
9  -0.0686666064 -0.02878002 -0.268228986  1.00000000 -0.20696652 -0.44061942
10 -0.2055065851 -0.15926308 -0.173329675 -0.20696652  1.00000000 -0.11925075
11 -0.1601219565  0.53888907  0.475691991 -0.44061942 -0.11925075  1.00000000
12  0.0005845629 -0.23440109 -0.126196994  0.51022163 -0.20902056 -0.40237933
13 -0.1526223047  0.16082520  0.215365669  0.01868495 -0.10892951  0.11356467
14 -0.0370245268 -0.05144708 -0.006820021 -0.34876087  0.06079859  0.12262542
15 -0.1673263566  0.20489202  0.205869569 -0.21755477 -0.12028220  0.37231640
16  0.2380164696 -0.31442787 -0.299365264  0.03649500 -0.01181777 -0.33429288
   Singapore     South Korea Spain        Turkey      United States
1  -0.2096671516 -0.20142284  0.163591513 -0.09868350 -0.12580614
2   0.2374988871 -0.24214879 -0.213543938 -0.27776537  0.45026896
3  -0.2598915766 -0.08731596  0.072308406 -0.03172250 -0.19253817
4  -0.2553625404 -0.20503456  0.194458741 -0.07814615 -0.14241346
5  -0.2547247320 -0.12086619  0.232377125  0.13634094 -0.14248141
6   0.0005845629 -0.15262230 -0.037024527 -0.16732636  0.23801647
7  -0.2344010923  0.16082520 -0.051447082  0.20489202 -0.31442787
8  -0.1261969938  0.21536567 -0.006820021  0.20586957 -0.29936526
9   0.5102216287  0.01868495 -0.348760866 -0.21755477  0.03649500
10 -0.2090205572 -0.10892951  0.060798588 -0.12028220 -0.01181777
11 -0.4023793330  0.11356467  0.122625416  0.37231640 -0.33429288
12  1.0000000000 -0.03057545 -0.307915602 -0.29004801  0.05968710
13 -0.0305754518  1.00000000 -0.157734352 -0.02530489 -0.17952300
14 -0.3079156019 -0.15773435  1.000000000  0.06365414 -0.22424408
15 -0.2900480057 -0.02530489  0.063654138  1.00000000 -0.28983602
16  0.0596871000 -0.17952300 -0.224244082 -0.28983602  1.00000000

   interests_from Argentina   Australia  Brazil       Chile       France
1  Argentina       1.00000000 -0.1143361  0.176917369  0.39391861 -0.061345090
2  Australia      -0.11433611  1.0000000 -0.183166299 -0.21693946 -0.181528839
3  Brazil          0.17691737 -0.1831663  1.000000000  0.12196555 -0.009614683
4  Chile           0.39391861 -0.2169395  0.121965552  1.00000000 -0.036574753
5  France         -0.06134509 -0.1815288 -0.009614683 -0.03657475  1.000000000
6  Great Britain  -0.16915309  0.3272787 -0.091449694 -0.14270839 -0.016455120
7  Indonesia      -0.19920772 -0.4212416  0.012284416 -0.12930396  0.029158377
8  Japan          -0.22437150 -0.3694083  0.040389545 -0.08577730  0.097488102
9  Malaysia       -0.28997372  0.1800086 -0.278932779 -0.32750818 -0.291439588
10 Mexico          0.27235146 -0.1925855 -0.023834733  0.34784223 -0.100300082
11 Russia         -0.08055443 -0.4879302  0.102400443 -0.01501271  0.244664725
12 Singapore      -0.20966715  0.2374989 -0.259891577 -0.25536254 -0.254724732
13 South Korea    -0.20142284 -0.2421488 -0.087315962 -0.20503456 -0.120866190
14 Spain           0.16359151 -0.2135439  0.072308406  0.19445874  0.232377125
15 Turkey         -0.09868350 -0.2777654 -0.031722502 -0.07814615  0.136340940
16 United States  -0.12580614  0.4502690 -0.192538169 -0.14241346 -0.142481415
   Great Britain Indonesia   Japan        Malaysia    Mexico      Russia
1  -0.1691530891 -0.19920772 -0.224371502 -0.28997372  0.27235146 -0.08055443
2   0.3272786581 -0.42124163 -0.369408331  0.18000864 -0.19258554 -0.48793018
3  -0.0914496937  0.01228442  0.040389545 -0.27893278 -0.02383473  0.10240044
4  -0.1427083922 -0.12930396 -0.085777299 -0.32750818  0.34784223 -0.01501271
5  -0.0164551200  0.02915838  0.097488102 -0.29143959 -0.10030008  0.24466473
6   1.0000000000 -0.23383791 -0.197735569 -0.06866661 -0.20550659 -0.16012196
7  -0.2338379149  1.00000000  0.364092614 -0.02878002 -0.15926308  0.53888907
8  -0.1977355688  0.36409261  1.000000000 -0.26822899 -0.17332967  0.47569199
9  -0.0686666064 -0.02878002 -0.268228986  1.00000000 -0.20696652 -0.44061942
10 -0.2055065851 -0.15926308 -0.173329675 -0.20696652  1.00000000 -0.11925075
11 -0.1601219565  0.53888907  0.475691991 -0.44061942 -0.11925075  1.00000000
12  0.0005845629 -0.23440109 -0.126196994  0.51022163 -0.20902056 -0.40237933
13 -0.1526223047  0.16082520  0.215365669  0.01868495 -0.10892951  0.11356467
14 -0.0370245268 -0.05144708 -0.006820021 -0.34876087  0.06079859  0.12262542
15 -0.1673263566  0.20489202  0.205869569 -0.21755477 -0.12028220  0.37231640
16  0.2380164696 -0.31442787 -0.299365264  0.03649500 -0.01181777 -0.33429288
   Singapore     South Korea Spain        Turkey      United States
1  -0.2096671516 -0.20142284  0.163591513 -0.09868350 -0.12580614
2   0.2374988871 -0.24214879 -0.213543938 -0.27776537  0.45026896
3  -0.2598915766 -0.08731596  0.072308406 -0.03172250 -0.19253817
4  -0.2553625404 -0.20503456  0.194458741 -0.07814615 -0.14241346
5  -0.2547247320 -0.12086619  0.232377125  0.13634094 -0.14248141
6   0.0005845629 -0.15262230 -0.037024527 -0.16732636  0.23801647
7  -0.2344010923  0.16082520 -0.051447082  0.20489202 -0.31442787
8  -0.1261969938  0.21536567 -0.006820021  0.20586957 -0.29936526
9   0.5102216287  0.01868495 -0.348760866 -0.21755477  0.03649500
10 -0.2090205572 -0.10892951  0.060798588 -0.12028220 -0.01181777
11 -0.4023793330  0.11356467  0.122625416  0.37231640 -0.33429288
12  1.0000000000 -0.03057545 -0.307915602 -0.29004801  0.05968710
13 -0.0305754518  1.00000000 -0.157734352 -0.02530489 -0.17952300
14 -0.3079156019 -0.15773435  1.000000000  0.06365414 -0.22424408
15 -0.2900480057 -0.02530489  0.063654138  1.00000000 -0.28983602
16  0.0596871000 -0.17952300 -0.224244082 -0.28983602  1.00000000

In [42]:
cd_sym <- cd_sym %>% pivot_longer(!interests_from, names_to = "origin", values_to = "CS_symm") %>%
                        rename(destination = interests_from)

head(cd_sym)

  destination origin        CS_symm
1 Argentina   Argentina      1.00000000
2 Argentina   Australia     -0.11433611
3 Argentina   Brazil         0.17691737
4 Argentina   Chile          0.39391861
5 Argentina   France        -0.06134509
6 Argentina   Great Britain -0.16915309

  destination origin        CS_symm
1 Argentina   Argentina      1.00000000
2 Argentina   Australia     -0.11433611
3 Argentina   Brazil         0.17691737
4 Argentina   Chile          0.39391861
5 Argentina   France        -0.06134509
6 Argentina   Great Britain -0.16915309

In [43]:
dim(cd_sym)

[1] 256   3

[1] 256   3

#### nonsymmetric:   
each country is represented by a vector corresponding to the <b>top 50 dishes from origin country</b>

![CDiv](figs/heatmap-similarity-topK-cosine-reds.png)

The **(non-symmetric)** Cultural Similarity between **origin (rows) and destination (columns)** represent how similar origin and destination are in terms of popular dishes from the country of **origin**.   

**Hypothesis:** Immigrants prefer to move to (host) countries culturally similar to their (home/previous) country.

In [44]:
cd_nonsym <- read.csv("data/FB-food-cultural_similarity-nonsymmetric.csv", check.names=FALSE)
colnames(cd_nonsym)[1] <- "interests_from"

In [45]:
cd_food_o <- cd_nonsym %>% pivot_longer(!interests_from, names_to = "destination", values_to = "CS_nonsymm_food_o") %>%
                           rename(origin = interests_from)
                           
head(cd_food_o)

  origin    destination   CS_nonsymm_food_o
1 Argentina Argentina      1.0000000
2 Argentina Australia      0.3185665
3 Argentina Brazil         0.1077964
4 Argentina Chile          0.4667300
5 Argentina France        -0.4108677
6 Argentina Great Britain -0.2072795

  origin    destination   CS_nonsymm_food_o
1 Argentina Argentina      1.0000000
2 Argentina Australia      0.3185665
3 Argentina Brazil         0.1077964
4 Argentina Chile          0.4667300
5 Argentina France        -0.4108677
6 Argentina Great Britain -0.2072795

In [46]:
dim(cd_food_o)

[1] 256   3

[1] 256   3

The **(non-symmetric)** Cultural Similarity between **origin (rows) and destination (columns)** representing how similar origin and destination are in terms of popular dishes from the country of **destination**.

In [47]:
cd_food_d <- cd_nonsym %>% pivot_longer(!interests_from, names_to = "origin", values_to = "CS_nonsymm_food_d") %>%
                            rename(destination = interests_from)

head(cd_food_d)

  destination origin        CS_nonsymm_food_d
1 Argentina   Argentina      1.0000000
2 Argentina   Australia      0.3185665
3 Argentina   Brazil         0.1077964
4 Argentina   Chile          0.4667300
5 Argentina   France        -0.4108677
6 Argentina   Great Britain -0.2072795

  destination origin        CS_nonsymm_food_d
1 Argentina   Argentina      1.0000000
2 Argentina   Australia      0.3185665
3 Argentina   Brazil         0.1077964
4 Argentina   Chile          0.4667300
5 Argentina   France        -0.4108677
6 Argentina   Great Britain -0.2072795

In [48]:
dim(cd_food_d)

[1] 256   3

[1] 256   3

In [49]:
cd <- merge(cd_food_o, cd_food_d)
cd <- merge(cd_sym, cd)

cd

    destination   origin        CS_symm     CS_nonsymm_food_o CS_nonsymm_food_d
1   Argentina     Argentina      1.00000000  1.00000000        1.00000000
2   Argentina     Australia     -0.11433611 -0.25534750        0.31856652
3   Argentina     Brazil         0.17691737  0.21724563        0.10779643
4   Argentina     Chile          0.39391861  0.40901942        0.46672998
5   Argentina     France        -0.06134509 -0.21927129       -0.41086766
6   Argentina     Great Britain -0.16915309 -0.36688149       -0.20727953
7   Argentina     Indonesia     -0.19920772 -0.31759939       -0.67796209
8   Argentina     Japan         -0.22437150 -0.51795720       -0.81593583
9   Argentina     Malaysia      -0.28997372 -0.82887197       -0.26388265
10  Argentina     Mexico         0.27235146  0.30998559        0.34413910
11  Argentina     Russia        -0.08055443 -0.15649225       -0.69455723
12  Argentina     Singapore     -0.20966715 -0.65288109        0.14592405
13  Argentina     South Korea   -0.20142284 -0.49827893       -0.52428558
14  Argentina     Spain          0.16359151  0.16960881        0.03543246
15  Argentina     Turkey        -0.09868350 -0.19194844       -0.72425023
16  Argentina     United States -0.12580614 -0.28485408       -0.03064576
17  Australia     Argentina     -0.11433611  0.31856652       -0.25534750
18  Australia     Australia      1.00000000  1.00000000        1.00000000
19  Australia     Brazil        -0.18316630  0.20212024       -0.50815463
20  Australia     Chile         -0.21693946  0.09922352       -0.40896793
21  Australia     France        -0.18152884  0.34657761       -0.23163061
22  Australia     Great Britain  0.32727866  0.59776338        0.27997820
23  Australia     Indonesia     -0.42124163  0.34040676       -0.74732273
24  Australia     Japan         -0.36940833  0.27908949       -0.50112052
25  Australia     Malaysia       0.18000864  0.40890461        0.19018417
26  Australia     Mexico        -0.19258554  0.03537449       -0.56851789
27  Australia     Russia        -0.48793018 -0.16326341       -0.63186079
28  Australia     Singapore      0.23749889  0.31656298        0.36916846
29  Australia     South Korea   -0.24214879  0.14811350       -0.43427265
30  Australia     Spain         -0.21354394  0.12172964       -0.32229338
... ...           ...           ...         ...               ...
227 Turkey        Brazil        -0.03172250 -0.71466299       -0.53825882
228 Turkey        Chile         -0.07814615 -0.76962078       -0.39933375
229 Turkey        France         0.13634094 -0.30711422       -0.15343198
230 Turkey        Great Britain -0.16732636 -0.75872854       -0.17717287
231 Turkey        Indonesia      0.20489202 -0.48202091       -0.41470230
232 Turkey        Japan          0.20586957 -0.32861369       -0.39638770
233 Turkey        Malaysia      -0.21755477 -0.85505990        0.34439747
234 Turkey        Mexico        -0.12028220 -0.67076529       -0.24461499
235 Turkey        Russia         0.37231640  0.11026812       -0.52608806
236 Turkey        Singapore     -0.29004801 -0.86158102        0.12314585
237 Turkey        South Korea   -0.02530489 -0.60650869       -0.30813395
238 Turkey        Spain          0.06365414 -0.49005912       -0.20854132
239 Turkey        Turkey         1.00000000  1.00000000        1.00000000
240 Turkey        United States -0.28983602 -0.78187131       -0.25277318
241 United States Argentina     -0.12580614 -0.03064576       -0.28485408
242 United States Australia      0.45026896  0.62921760        0.64078430
243 United States Brazil        -0.19253817 -0.07881449       -0.54038076
244 United States Chile         -0.14241346  0.11872234       -0.24845091
245 United States France        -0.14248141  0.30176935       -0.32809933
246 United States Great Britain  0.23801647  0.50760365        0.27157079
247 United States Indonesia     -0.31442787  0.10055429       -0.65837735
248 United States Japan         -0.29936526 -0.01803185       -0.47553080
249 United States Malaysia       0.03649500  0.02675936        0.05600762
250 United States Mexico        -0.01181777  0.41007285       -0.36696107
251 United States Russia        -0.33429288 -0.25919492       -0.69859497
252 United States Singapore      0.05968710 -0.05564503        0.22324767
253 United States South Korea   -0.17952300  0.11165970       -0.50816684
254 United States Spain         -0.22424408 -0.13841523       -0.46127246
255 United States Turkey        -0.28983602 -0.25277318       -0.78187131
256 United States United States  1.00000000  1.00000000        1.00000000

    destination   origin        CS_symm     CS_nonsymm_food_o CS_nonsymm_food_d
1   Argentina     Argentina      1.00000000  1.00000000        1.00000000
2   Argentina     Australia     -0.11433611 -0.25534750        0.31856652
3   Argentina     Brazil         0.17691737  0.21724563        0.10779643
4   Argentina     Chile          0.39391861  0.40901942        0.46672998
5   Argentina     France        -0.06134509 -0.21927129       -0.41086766
6   Argentina     Great Britain -0.16915309 -0.36688149       -0.20727953
7   Argentina     Indonesia     -0.19920772 -0.31759939       -0.67796209
8   Argentina     Japan         -0.22437150 -0.51795720       -0.81593583
9   Argentina     Malaysia      -0.28997372 -0.82887197       -0.26388265
10  Argentina     Mexico         0.27235146  0.30998559        0.34413910
11  Argentina     Russia        -0.08055443 -0.15649225       -0.69455723
12  Argentina     Singapore     -0.20966715 -0.65288109        0.14592405
13  Argentina     South Korea   -0.20142284 -0.49827893       -0.52428558
14  Argentina     Spain          0.16359151  0.16960881        0.03543246
15  Argentina     Turkey        -0.09868350 -0.19194844       -0.72425023
16  Argentina     United States -0.12580614 -0.28485408       -0.03064576
17  Australia     Argentina     -0.11433611  0.31856652       -0.25534750
18  Australia     Australia      1.00000000  1.00000000        1.00000000
19  Australia     Brazil        -0.18316630  0.20212024       -0.50815463
20  Australia     Chile         -0.21693946  0.09922352       -0.40896793
21  Australia     France        -0.18152884  0.34657761       -0.23163061
22  Australia     Great Britain  0.32727866  0.59776338        0.27997820
23  Australia     Indonesia     -0.42124163  0.34040676       -0.74732273
24  Australia     Japan         -0.36940833  0.27908949       -0.50112052
25  Australia     Malaysia       0.18000864  0.40890461        0.19018417
26  Australia     Mexico        -0.19258554  0.03537449       -0.56851789
27  Australia     Russia        -0.48793018 -0.16326341       -0.63186079
28  Australia     Singapore      0.23749889  0.31656298        0.36916846
29  Australia     South Korea   -0.24214879  0.14811350       -0.43427265
30  Australia     Spain         -0.21354394  0.12172964       -0.32229338
... ...           ...           ...         ...               ...
227 Turkey        Brazil        -0.03172250 -0.71466299       -0.53825882
228 Turkey        Chile         -0.07814615 -0.76962078       -0.39933375
229 Turkey        France         0.13634094 -0.30711422       -0.15343198
230 Turkey        Great Britain -0.16732636 -0.75872854       -0.17717287
231 Turkey        Indonesia      0.20489202 -0.48202091       -0.41470230
232 Turkey        Japan          0.20586957 -0.32861369       -0.39638770
233 Turkey        Malaysia      -0.21755477 -0.85505990        0.34439747
234 Turkey        Mexico        -0.12028220 -0.67076529       -0.24461499
235 Turkey        Russia         0.37231640  0.11026812       -0.52608806
236 Turkey        Singapore     -0.29004801 -0.86158102        0.12314585
237 Turkey        South Korea   -0.02530489 -0.60650869       -0.30813395
238 Turkey        Spain          0.06365414 -0.49005912       -0.20854132
239 Turkey        Turkey         1.00000000  1.00000000        1.00000000
240 Turkey        United States -0.28983602 -0.78187131       -0.25277318
241 United States Argentina     -0.12580614 -0.03064576       -0.28485408
242 United States Australia      0.45026896  0.62921760        0.64078430
243 United States Brazil        -0.19253817 -0.07881449       -0.54038076
244 United States Chile         -0.14241346  0.11872234       -0.24845091
245 United States France        -0.14248141  0.30176935       -0.32809933
246 United States Great Britain  0.23801647  0.50760365        0.27157079
247 United States Indonesia     -0.31442787  0.10055429       -0.65837735
248 United States Japan         -0.29936526 -0.01803185       -0.47553080
249 United States Malaysia       0.03649500  0.02675936        0.05600762
250 United States Mexico        -0.01181777  0.41007285       -0.36696107
251 United States Russia        -0.33429288 -0.25919492       -0.69859497
252 United States Singapore      0.05968710 -0.05564503        0.22324767
253 United States South Korea   -0.17952300  0.11165970       -0.50816684
254 United States Spain         -0.22424408 -0.13841523       -0.46127246
255 United States Turkey        -0.28983602 -0.25277318       -0.78187131
256 United States United States  1.00000000  1.00000000        1.00000000

In [50]:
dim(cd)

[1] 256   5

[1] 256   5

#### Dataset: official statistics + FB cultural distance

In [51]:
dataset <- merge(official_dataset, cd)#, mutate(official_dataset, destination = tolower(destination), origin = tolower(origin)))

head(dataset)

  destination origin        iso_d iso_o col csl        cnl        prox1
1 Argentina   Australia     ARG   AUS   0   0.02058416 0.00080000 0.25
2 Argentina   Brazil        ARG   BRA   0   0.06052872 0.00080000 0.75
3 Argentina   Chile         ARG   CHL   1   0.98010004 0.85439998 0.00
4 Argentina   France        ARG   FRA   0   0.13392781 0.01039232 0.50
5 Argentina   Great Britain ARG   GBR   0   0.08325152 0.00000000 0.25
6 Argentina   Indonesia     ARG   IDN   0   0.00000000 0.00000000 0.00
  lp1      prox2      ... m_flow_da_min_open m_flow_da_min_closed
1 1.945866 0.13052547 ...    16                105
2 5.837599 0.42439765 ...  2332                  0
3 0.000000 0.00000000 ... 13875              53604
4 3.891733 0.25450581 ...   467                156
5 1.945866 0.13052547 ...    45                126
6 0.000000 0.07436915 ...     1                  4
  m_flow_da_pb_closed CS_wvs     CS_euc_wvs CS_foursquare CS_euc_foursquare
1  2224                0.2579213 0.3611266   0.1005334    0.6599275
2 10767                0.7688173 0.9195511   0.8402622    0.7720915
3 84213               -0.9899189 0.8081323   0.9548769    0.9093739
4  3048                0.1697698 0.5802905   0.8741573    0.8334258
5  1559                0.3229716 0.3584166   0.6263188    0.6783781
6     7                0.4656905 0.6316296  -0.8793284    0.3383839
  CS_symm     CS_nonsymm_food_o CS_nonsymm_food_d
1 -0.11433611 -0.2553475         0.3185665
2  0.17691737  0.2172456         0.1077964
3  0.39391861  0.4090194         0.4667300
4 -0.06134509 -0.2192713        -0.4108677
5 -0.16915309 -0.3668815        -0.2072795
6 -0.19920772 -0.3175994        -0.6779621

  destination origin        iso_d iso_o col csl        cnl        prox1
1 Argentina   Australia     ARG   AUS   0   0.02058416 0.00080000 0.25
2 Argentina   Brazil        ARG   BRA   0   0.06052872 0.00080000 0.75
3 Argentina   Chile         ARG   CHL   1   0.98010004 0.85439998 0.00
4 Argentina   France        ARG   FRA   0   0.13392781 0.01039232 0.50
5 Argentina   Great Britain ARG   GBR   0   0.08325152 0.00000000 0.25
6 Argentina   Indonesia     ARG   IDN   0   0.00000000 0.00000000 0.00
  lp1      prox2      ... m_flow_da_min_open m_flow_da_min_closed
1 1.945866 0.13052547 ...    16                105
2 5.837599 0.42439765 ...  2332                  0
3 0.000000 0.00000000 ... 13875              53604
4 3.891733 0.25450581 ...   467                156
5 1.945866 0.13052547 ...    45                126
6 0.000000 0.07436915 ...     1                  4
  m_flow_da_pb_closed CS_wvs     CS_euc_wvs CS_foursquare CS_euc_foursquare
1  2224                0.2579213 0.3611266   0.1005334    0.6599275
2 10767                0.7688173 0.9195511   0.8402622    0.7720915
3 84213               -0.9899189 0.8081323   0.9548769    0.9093739
4  3048                0.1697698 0.5802905   0.8741573    0.8334258
5  1559                0.3229716 0.3584166   0.6263188    0.6783781
6     7                0.4656905 0.6316296  -0.8793284    0.3383839
  CS_symm     CS_nonsymm_food_o CS_nonsymm_food_d
1 -0.11433611 -0.2553475         0.3185665
2  0.17691737  0.2172456         0.1077964
3  0.39391861  0.4090194         0.4667300
4 -0.06134509 -0.2192713        -0.4108677
5 -0.16915309 -0.3668815        -0.2072795
6 -0.19920772 -0.3175994        -0.6779621

In [52]:
dim(dataset)

[1] 240  43

[1] 240  43

In [53]:
dataset <- dummy_cols(dataset, select_columns = 'origin')
dataset <- dummy_cols(dataset, select_columns = 'destination')

In [54]:
dim(dataset)

[1] 240  75

[1] 240  75

In [55]:
write.csv(dataset, "data/subset-final-dataset.csv", row.names = FALSE)

In [56]:
dataset <- read.csv("data/subset-final-dataset.csv")

dataset

    destination   origin        iso_d iso_o col csl        cnl
1   Argentina     Australia     ARG   AUS   0   0.02058416 0.00080000
2   Argentina     Brazil        ARG   BRA   0   0.06052872 0.00080000
3   Argentina     Chile         ARG   CHL   1   0.98010004 0.85439998
4   Argentina     France        ARG   FRA   0   0.13392781 0.01039232
5   Argentina     Great Britain ARG   GBR   0   0.08325152 0.00000000
6   Argentina     Indonesia     ARG   IDN   0   0.00000000 0.00000000
7   Argentina     Japan         ARG   JPN   0   0.00000000 0.00000000
8   Argentina     Malaysia      ARG   MYS   0   0.00000000 0.00000000
9   Argentina     Mexico        ARG   MEX   1   0.98010004 0.88319999
10  Argentina     Russia        ARG   RUS   0   0.00040000 0.00000000
11  Argentina     Singapore     ARG   SGP   0   0.00000000 0.00000000
12  Argentina     South Korea   ARG   KOR   0   0.00000000 0.00000000
13  Argentina     Spain         ARG   ESP   1   0.98013985 0.85445821
14  Argentina     Turkey        ARG   TUR   0   0.00160000 0.00000000
15  Argentina     United States ARG   USA   0   0.15940993 0.14400001
16  Australia     Argentina     AUS   ARG   0   0.02058416 0.00080000
17  Australia     Brazil        AUS   BRA   0   0.00159952 0.00040000
18  Australia     Chile         AUS   CHL   0   0.01980000 0.00000000
19  Australia     France        AUS   FRA   0   0.35193339 0.00049996
20  Australia     Great Britain AUS   GBR   1   0.96037942 0.64399999
21  Australia     Indonesia     AUS   IDN   0   0.00000000 0.00000000
22  Australia     Japan         AUS   JPN   0   0.11640000 0.00000000
23  Australia     Malaysia      AUS   MYS   0   0.26765719 0.01266010
24  Australia     Mexico        AUS   MEX   0   0.06733970 0.00000000
25  Australia     Russia        AUS   RUS   0   0.04850000 0.00000000
26  Australia     Singapore     AUS   SGP   1   0.69561088 0.10990640
27  Australia     South Korea   AUS   KOR   0   0.00000000 0.00000000
28  Australia     Spain         AUS   ESP   0   0.27695724 0.00020000
29  Australia     Turkey        AUS   TUR   0   0.16515054 0.00010000
30  Australia     United States AUS   USA   1   0.93142021 0.57400000
... ...           ...           ...   ...   ... ...        ...
211 Turkey        Argentina     TUR   ARG   0   0.00160000 0.0000
212 Turkey        Australia     TUR   AUS   0   0.16515054 0.0001
213 Turkey        Brazil        TUR   BRA   0   0.00040000 0.0000
214 Turkey        Chile         TUR   CHL   0   0.00000000 0.0000
215 Turkey        France        TUR   FRA   0   0.07406157 0.0001
216 Turkey        Great Britain TUR   GBR   0   0.17329019 0.0000
217 Turkey        Indonesia     TUR   IDN   0   0.00000000 0.0000
218 Turkey        Japan         TUR   JPN   0   0.02040000 0.0000
219 Turkey        Malaysia      TUR   MYS   0   0.04590000 0.0000
220 Turkey        Mexico        TUR   MEX   0   0.00850000 0.0000
221 Turkey        Russia        TUR   RUS   0   0.01881100 0.0000
222 Turkey        Singapore     TUR   SGP   0   0.12069999 0.0000
223 Turkey        South Korea   TUR   KOR   0   0.00000000 0.0000
224 Turkey        Spain         TUR   ESP   0   0.05734920 0.0000
225 Turkey        United States TUR   USA   0   0.16428784 0.0000
226 United States Argentina     USA   ARG   0   0.15940993 0.1440
227 United States Australia     USA   AUS   1   0.93142021 0.5740
228 United States Brazil        USA   BRA   0   0.00989712 0.0000
229 United States Chile         USA   CHL   0   0.15840000 0.1335
230 United States France        USA   FRA   0   0.36726066 0.0015
231 United States Great Britain USA   GBR   1   0.95128286 0.7544
232 United States Indonesia     USA   IDN   0   0.00000000 0.0000
233 United States Japan         USA   JPN   0   0.11520000 0.0000
234 United States Malaysia      USA   MYS   0   0.25920001 0.0082
235 United States Mexico        USA   MEX   0   0.19879681 0.1380
236 United States Russia        USA   RUS   0   0.04828560 0.0000
237 United States Singapore     USA   SGP   1   0.68159997 0.1148
238 United States South Korea   USA   KOR   0   0.00000000 0.0000
239 United States Spain         USA   ESP   0   0.37787616 0.1335
240 United States Turkey        USA   TUR   0   0.16428784 0.0000
    prox1       lp1        prox2      ... destination_Indonesia
1   0.25000000  1.9458665  0.13052547 ... 0
2   0.75000000  5.8375993  0.42439765 ... 0
3   0.00000000  0.0000000  0.00000000 ... 0
4   0.50000000  3.8917329  0.25450581 ... 0
5   0.25000000  1.9458665  0.13052547 ... 0
6   0.00000000  0.0000000  0.07436915 ... 0
7   0.00000000  0.0000000  0.06896222 ... 0
8   0.00000000  0.0000000  0.08409883 ... 0
9   0.00000000  0.0000000  0.00000000 ... 0
10  0.25000000  1.9458665  0.10273195 ... 0
11  0.06000000  0.4670079  0.09181178 ... 0
12  0.00000000  0.0000000  0.00000000 ... 0
13  0.00000000  0.0000000  0.00000000 ... 0
14  0.00000000  0.0000000  0.10965659 ... 0
15  0.21250001  1.6539866  0.11094666 ... 0
16  0.25000000  1.9458665  0.13052547 ... 0
17  0.25000000  1.9458665  0.09713525 ... 0
18  0.25000000  1.9458665  0.13052547 ... 0
19  0.25000000  1.9458665  0.14152911 ... 0
20  0.00000000  0.0000000  0.00000000 ... 0
21  0.00000000  0.0000000  0.06640106 ... 0
22  0.00000000  0.0000000  0.05976091 ... 0
23  0.00000000  0.0000000  0.06226711 ... 0
24  0.25000000  1.9458665  0.13052547 ... 0
25  0.25000000  1.9458665  0.15281731 ... 0
26  0.00000000  0.0000000  0.03157653 ... 0
27  0.00000000  0.0000000  0.00000000 ... 0
28  0.25000000  1.9458665  0.13052547 ... 0
29  0.00000000  0.0000000  0.06687532 ... 0
30  0.03750002  0.2918802  0.01957881 ... 0
... ...         ...        ...            ...
211 0.000000000 0.00000000 0.10965659 ... 0
212 0.000000000 0.00000000 0.06687532 ... 0
213 0.000000000 0.00000000 0.08992597 ... 0
214 0.000000000 0.00000000 0.10965659 ... 0
215 0.000000000 0.00000000 0.11212294 ... 0
216 0.000000000 0.00000000 0.06687532 ... 0
217 0.000000000 0.00000000 0.06222726 ... 0
218 0.000000000 0.00000000 0.08186300 ... 0
219 0.000000000 0.00000000 0.07762565 ... 0
220 0.000000000 0.00000000 0.10965659 ... 0
221 0.000000000 0.00000000 0.11269207 ... 0
222 0.000000000 0.00000000 0.07026368 ... 0
223 0.000000000 0.00000000 0.00000000 ... 0
224 0.000000000 0.00000000 0.10965659 ... 0
225 0.000000000 0.00000000 0.07329251 ... 0
226 0.212500006 1.65398657 0.11094666 ... 0
227 0.037500024 0.29188016 0.01957881 ... 0
228 0.325000018 2.52962661 0.14622462 ... 0
229 0.212500006 1.65398657 0.11094666 ... 0
230 0.287500024 2.23774672 0.15847562 ... 0
231 0.037500024 0.29188016 0.01957881 ... 0
232 0.000000000 0.00000000 0.06759628 ... 0
233 0.000000000 0.00000000 0.06114111 ... 0
234 0.000000000 0.00000000 0.06554188 ... 0
235 0.212500006 1.65398657 0.11094666 ... 0
236 0.250000000 1.94586647 0.14530452 ... 0
237 0.009000003 0.07005122 0.04061182 ... 0
238 0.000000000 0.00000000 0.00000000 ... 0
239 0.212500006 1.65398657 0.11094666 ... 0
240 0.000000000 0.00000000 0.07329251 ... 0
    destination_Japan destination_Malaysia destination_Mexico
1   0                 0                    0
2   0                 0                    0
3   0                 0                    0
4   0                 0                    0
5   0                 0                    0
6   0                 0                    0
7   0                 0                    0
8   0                 0                    0
9   0                 0                    0
10  0                 0                    0
11  0                 0                    0
12  0                 0                    0
13  0                 0                    0
14  0                 0                    0
15  0                 0                    0
16  0                 0                    0
17  0                 0                    0
18  0                 0                    0
19  0                 0                    0
20  0                 0                    0
21  0                 0                    0
22  0                 0                    0
23  0                 0                    0
24  0                 0                    0
25  0                 0                    0
26  0                 0                    0
27  0                 0                    0
28  0                 0                    0
29  0                 0                    0
30  0                 0                    0
... ...               ...                  ...
211 0                 0                    0
212 0                 0                    0
213 0                 0                    0
214 0                 0                    0
215 0                 0                    0
216 0                 0                    0
217 0                 0                    0
218 0                 0                    0
219 0                 0                    0
220 0                 0                    0
221 0                 0                    0
222 0                 0                    0
223 0                 0                    0
224 0                 0                    0
225 0                 0                    0
226 0                 0                    0
227 0                 0                    0
228 0                 0                    0
229 0                 0                    0
230 0                 0                    0
231 0                 0                    0
232 0                 0                    0
233 0                 0                    0
234 0                 0                    0
235 0                 0                    0
236 0                 0                    0
237 0                 0                    0
238 0                 0                    0
239 0                 0                    0
240 0                 0                    0
    destination_Russia destination_Singapore destination_South.Korea
1   0                  0                     0
2   0                  0                     0
3   0                  0                     0
4   0                  0                     0
5   0                  0                     0
6   0                  0                     0
7   0                  0                     0
8   0                  0                     0
9   0                  0                     0
10  0                  0                     0
11  0                  0                     0
12  0                  0                     0
13  0                  0                     0
14  0                  0                     0
15  0                  0                     0
16  0                  0                     0
17  0                  0                     0
18  0                  0                     0
19  0                  0                     0
20  0                  0                     0
21  0                  0                     0
22  0                  0                     0
23  0                  0                     0
24  0                  0                     0
25  0                  0                     0
26  0                  0                     0
27  0                  0                     0
28  0                  0                     0
29  0                  0                     0
30  0                  0                     0
... ...                ...                   ...
211 0                  0                     0
212 0                  0                     0
213 0                  0                     0
214 0                  0                     0
215 0                  0                     0
216 0                  0                     0
217 0                  0                     0
218 0                  0                     0
219 0                  0                     0
220 0                  0                     0
221 0                  0                     0
222 0                  0                     0
223 0                  0                     0
224 0                  0                     0
225 0                  0                     0
226 0                  0                     0
227 0                  0                     0
228 0                  0                     0
229 0                  0                     0
230 0                  0                     0
231 0                  0                     0
232 0                  0                     0
233 0                  0                     0
234 0                  0                     0
235 0                  0                     0
236 0                  0                     0
237 0                  0                     0
238 0                  0                     0
239 0                  0                     0
240 0                  0                     0
    destination_Spain destination_Turkey destination_United.States
1   0                 0                  0
2   0                 0                  0
3   0                 0                  0
4   0                 0                  0
5   0                 0                  0
6   0                 0                  0
7   0                 0                  0
8   0                 0                  0
9   0                 0                  0
10  0                 0                  0
11  0                 0                  0
12  0                 0                  0
13  0                 0                  0
14  0                 0                  0
15  0                 0                  0
16  0                 0                  0
17  0                 0                  0
18  0                 0                  0
19  0                 0                  0
20  0                 0                  0
21  0                 0                  0
22  0                 0                  0
23  0                 0                  0
24  0                 0                  0
25  0                 0                  0
26  0                 0                  0
27  0                 0                  0
28  0                 0                  0
29  0                 0                  0
30  0                 0                  0
... ...               ...                ...
211 0                 1                  0
212 0                 1                  0
213 0                 1                  0
214 0                 1                  0
215 0                 1                  0
216 0                 1                  0
217 0                 1                  0
218 0                 1                  0
219 0                 1                  0
220 0                 1                  0
221 0                 1                  0
222 0                 1                  0
223 0                 1                  0
224 0                 1                  0
225 0                 1                  0
226 0                 0                  1
227 0                 0                  1
228 0                 0                  1
229 0                 0                  1
230 0                 0                  1
231 0                 0                  1
232 0                 0                  1
233 0                 0                  1
234 0                 0                  1
235 0                 0                  1
236 0                 0                  1
237 0                 0                  1
238 0                 0                  1
239 0                 0                  1
240 0                 0                  1

    destination   origin        iso_d iso_o col csl        cnl
1   Argentina     Australia     ARG   AUS   0   0.02058416 0.00080000
2   Argentina     Brazil        ARG   BRA   0   0.06052872 0.00080000
3   Argentina     Chile         ARG   CHL   1   0.98010004 0.85439998
4   Argentina     France        ARG   FRA   0   0.13392781 0.01039232
5   Argentina     Great Britain ARG   GBR   0   0.08325152 0.00000000
6   Argentina     Indonesia     ARG   IDN   0   0.00000000 0.00000000
7   Argentina     Japan         ARG   JPN   0   0.00000000 0.00000000
8   Argentina     Malaysia      ARG   MYS   0   0.00000000 0.00000000
9   Argentina     Mexico        ARG   MEX   1   0.98010004 0.88319999
10  Argentina     Russia        ARG   RUS   0   0.00040000 0.00000000
11  Argentina     Singapore     ARG   SGP   0   0.00000000 0.00000000
12  Argentina     South Korea   ARG   KOR   0   0.00000000 0.00000000
13  Argentina     Spain         ARG   ESP   1   0.98013985 0.85445821
14  Argentina     Turkey        ARG   TUR   0   0.00160000 0.00000000
15  Argentina     United States ARG   USA   0   0.15940993 0.14400001
16  Australia     Argentina     AUS   ARG   0   0.02058416 0.00080000
17  Australia     Brazil        AUS   BRA   0   0.00159952 0.00040000
18  Australia     Chile         AUS   CHL   0   0.01980000 0.00000000
19  Australia     France        AUS   FRA   0   0.35193339 0.00049996
20  Australia     Great Britain AUS   GBR   1   0.96037942 0.64399999
21  Australia     Indonesia     AUS   IDN   0   0.00000000 0.00000000
22  Australia     Japan         AUS   JPN   0   0.11640000 0.00000000
23  Australia     Malaysia      AUS   MYS   0   0.26765719 0.01266010
24  Australia     Mexico        AUS   MEX   0   0.06733970 0.00000000
25  Australia     Russia        AUS   RUS   0   0.04850000 0.00000000
26  Australia     Singapore     AUS   SGP   1   0.69561088 0.10990640
27  Australia     South Korea   AUS   KOR   0   0.00000000 0.00000000
28  Australia     Spain         AUS   ESP   0   0.27695724 0.00020000
29  Australia     Turkey        AUS   TUR   0   0.16515054 0.00010000
30  Australia     United States AUS   USA   1   0.93142021 0.57400000
... ...           ...           ...   ...   ... ...        ...
211 Turkey        Argentina     TUR   ARG   0   0.00160000 0.0000
212 Turkey        Australia     TUR   AUS   0   0.16515054 0.0001
213 Turkey        Brazil        TUR   BRA   0   0.00040000 0.0000
214 Turkey        Chile         TUR   CHL   0   0.00000000 0.0000
215 Turkey        France        TUR   FRA   0   0.07406157 0.0001
216 Turkey        Great Britain TUR   GBR   0   0.17329019 0.0000
217 Turkey        Indonesia     TUR   IDN   0   0.00000000 0.0000
218 Turkey        Japan         TUR   JPN   0   0.02040000 0.0000
219 Turkey        Malaysia      TUR   MYS   0   0.04590000 0.0000
220 Turkey        Mexico        TUR   MEX   0   0.00850000 0.0000
221 Turkey        Russia        TUR   RUS   0   0.01881100 0.0000
222 Turkey        Singapore     TUR   SGP   0   0.12069999 0.0000
223 Turkey        South Korea   TUR   KOR   0   0.00000000 0.0000
224 Turkey        Spain         TUR   ESP   0   0.05734920 0.0000
225 Turkey        United States TUR   USA   0   0.16428784 0.0000
226 United States Argentina     USA   ARG   0   0.15940993 0.1440
227 United States Australia     USA   AUS   1   0.93142021 0.5740
228 United States Brazil        USA   BRA   0   0.00989712 0.0000
229 United States Chile         USA   CHL   0   0.15840000 0.1335
230 United States France        USA   FRA   0   0.36726066 0.0015
231 United States Great Britain USA   GBR   1   0.95128286 0.7544
232 United States Indonesia     USA   IDN   0   0.00000000 0.0000
233 United States Japan         USA   JPN   0   0.11520000 0.0000
234 United States Malaysia      USA   MYS   0   0.25920001 0.0082
235 United States Mexico        USA   MEX   0   0.19879681 0.1380
236 United States Russia        USA   RUS   0   0.04828560 0.0000
237 United States Singapore     USA   SGP   1   0.68159997 0.1148
238 United States South Korea   USA   KOR   0   0.00000000 0.0000
239 United States Spain         USA   ESP   0   0.37787616 0.1335
240 United States Turkey        USA   TUR   0   0.16428784 0.0000
    prox1       lp1        prox2      ... destination_Indonesia
1   0.25000000  1.9458665  0.13052547 ... 0
2   0.75000000  5.8375993  0.42439765 ... 0
3   0.00000000  0.0000000  0.00000000 ... 0
4   0.50000000  3.8917329  0.25450581 ... 0
5   0.25000000  1.9458665  0.13052547 ... 0
6   0.00000000  0.0000000  0.07436915 ... 0
7   0.00000000  0.0000000  0.06896222 ... 0
8   0.00000000  0.0000000  0.08409883 ... 0
9   0.00000000  0.0000000  0.00000000 ... 0
10  0.25000000  1.9458665  0.10273195 ... 0
11  0.06000000  0.4670079  0.09181178 ... 0
12  0.00000000  0.0000000  0.00000000 ... 0
13  0.00000000  0.0000000  0.00000000 ... 0
14  0.00000000  0.0000000  0.10965659 ... 0
15  0.21250001  1.6539866  0.11094666 ... 0
16  0.25000000  1.9458665  0.13052547 ... 0
17  0.25000000  1.9458665  0.09713525 ... 0
18  0.25000000  1.9458665  0.13052547 ... 0
19  0.25000000  1.9458665  0.14152911 ... 0
20  0.00000000  0.0000000  0.00000000 ... 0
21  0.00000000  0.0000000  0.06640106 ... 0
22  0.00000000  0.0000000  0.05976091 ... 0
23  0.00000000  0.0000000  0.06226711 ... 0
24  0.25000000  1.9458665  0.13052547 ... 0
25  0.25000000  1.9458665  0.15281731 ... 0
26  0.00000000  0.0000000  0.03157653 ... 0
27  0.00000000  0.0000000  0.00000000 ... 0
28  0.25000000  1.9458665  0.13052547 ... 0
29  0.00000000  0.0000000  0.06687532 ... 0
30  0.03750002  0.2918802  0.01957881 ... 0
... ...         ...        ...            ...
211 0.000000000 0.00000000 0.10965659 ... 0
212 0.000000000 0.00000000 0.06687532 ... 0
213 0.000000000 0.00000000 0.08992597 ... 0
214 0.000000000 0.00000000 0.10965659 ... 0
215 0.000000000 0.00000000 0.11212294 ... 0
216 0.000000000 0.00000000 0.06687532 ... 0
217 0.000000000 0.00000000 0.06222726 ... 0
218 0.000000000 0.00000000 0.08186300 ... 0
219 0.000000000 0.00000000 0.07762565 ... 0
220 0.000000000 0.00000000 0.10965659 ... 0
221 0.000000000 0.00000000 0.11269207 ... 0
222 0.000000000 0.00000000 0.07026368 ... 0
223 0.000000000 0.00000000 0.00000000 ... 0
224 0.000000000 0.00000000 0.10965659 ... 0
225 0.000000000 0.00000000 0.07329251 ... 0
226 0.212500006 1.65398657 0.11094666 ... 0
227 0.037500024 0.29188016 0.01957881 ... 0
228 0.325000018 2.52962661 0.14622462 ... 0
229 0.212500006 1.65398657 0.11094666 ... 0
230 0.287500024 2.23774672 0.15847562 ... 0
231 0.037500024 0.29188016 0.01957881 ... 0
232 0.000000000 0.00000000 0.06759628 ... 0
233 0.000000000 0.00000000 0.06114111 ... 0
234 0.000000000 0.00000000 0.06554188 ... 0
235 0.212500006 1.65398657 0.11094666 ... 0
236 0.250000000 1.94586647 0.14530452 ... 0
237 0.009000003 0.07005122 0.04061182 ... 0
238 0.000000000 0.00000000 0.00000000 ... 0
239 0.212500006 1.65398657 0.11094666 ... 0
240 0.000000000 0.00000000 0.07329251 ... 0
    destination_Japan destination_Malaysia destination_Mexico
1   0                 0                    0
2   0                 0                    0
3   0                 0                    0
4   0                 0                    0
5   0                 0                    0
6   0                 0                    0
7   0                 0                    0
8   0                 0                    0
9   0                 0                    0
10  0                 0                    0
11  0                 0                    0
12  0                 0                    0
13  0                 0                    0
14  0                 0                    0
15  0                 0                    0
16  0                 0                    0
17  0                 0                    0
18  0                 0                    0
19  0                 0                    0
20  0                 0                    0
21  0                 0                    0
22  0                 0                    0
23  0                 0                    0
24  0                 0                    0
25  0                 0                    0
26  0                 0                    0
27  0                 0                    0
28  0                 0                    0
29  0                 0                    0
30  0                 0                    0
... ...               ...                  ...
211 0                 0                    0
212 0                 0                    0
213 0                 0                    0
214 0                 0                    0
215 0                 0                    0
216 0                 0                    0
217 0                 0                    0
218 0                 0                    0
219 0                 0                    0
220 0                 0                    0
221 0                 0                    0
222 0                 0                    0
223 0                 0                    0
224 0                 0                    0
225 0                 0                    0
226 0                 0                    0
227 0                 0                    0
228 0                 0                    0
229 0                 0                    0
230 0                 0                    0
231 0                 0                    0
232 0                 0                    0
233 0                 0                    0
234 0                 0                    0
235 0                 0                    0
236 0                 0                    0
237 0                 0                    0
238 0                 0                    0
239 0                 0                    0
240 0                 0                    0
    destination_Russia destination_Singapore destination_South.Korea
1   0                  0                     0
2   0                  0                     0
3   0                  0                     0
4   0                  0                     0
5   0                  0                     0
6   0                  0                     0
7   0                  0                     0
8   0                  0                     0
9   0                  0                     0
10  0                  0                     0
11  0                  0                     0
12  0                  0                     0
13  0                  0                     0
14  0                  0                     0
15  0                  0                     0
16  0                  0                     0
17  0                  0                     0
18  0                  0                     0
19  0                  0                     0
20  0                  0                     0
21  0                  0                     0
22  0                  0                     0
23  0                  0                     0
24  0                  0                     0
25  0                  0                     0
26  0                  0                     0
27  0                  0                     0
28  0                  0                     0
29  0                  0                     0
30  0                  0                     0
... ...                ...                   ...
211 0                  0                     0
212 0                  0                     0
213 0                  0                     0
214 0                  0                     0
215 0                  0                     0
216 0                  0                     0
217 0                  0                     0
218 0                  0                     0
219 0                  0                     0
220 0                  0                     0
221 0                  0                     0
222 0                  0                     0
223 0                  0                     0
224 0                  0                     0
225 0                  0                     0
226 0                  0                     0
227 0                  0                     0
228 0                  0                     0
229 0                  0                     0
230 0                  0                     0
231 0                  0                     0
232 0                  0                     0
233 0                  0                     0
234 0                  0                     0
235 0                  0                     0
236 0                  0                     0
237 0                  0                     0
238 0                  0                     0
239 0                  0                     0
240 0                  0                     0
    destination_Spain destination_Turkey destination_United.States
1   0                 0                  0
2   0                 0                  0
3   0                 0                  0
4   0                 0                  0
5   0                 0                  0
6   0                 0                  0
7   0                 0                  0
8   0                 0                  0
9   0                 0                  0
10  0                 0                  0
11  0                 0                  0
12  0                 0                  0
13  0                 0                  0
14  0                 0                  0
15  0                 0                  0
16  0                 0                  0
17  0                 0                  0
18  0                 0                  0
19  0                 0                  0
20  0                 0                  0
21  0                 0                  0
22  0                 0                  0
23  0                 0                  0
24  0                 0                  0
25  0                 0                  0
26  0                 0                  0
27  0                 0                  0
28  0                 0                  0
29  0                 0                  0
30  0                 0                  0
... ...               ...                ...
211 0                 1                  0
212 0                 1                  0
213 0                 1                  0
214 0                 1                  0
215 0                 1                  0
216 0                 1                  0
217 0                 1                  0
218 0                 1                  0
219 0                 1                  0
220 0                 1                  0
221 0                 1                  0
222 0                 1                  0
223 0                 1                  0
224 0                 1                  0
225 0                 1                  0
226 0                 0                  1
227 0                 0                  1
228 0                 0                  1
229 0                 0                  1
230 0                 0                  1
231 0                 0                  1
232 0                 0                  1
233 0                 0                  1
234 0                 0                  1
235 0                 0                  1
236 0                 0                  1
237 0                 0                  1
238 0                 0                  1
239 0                 0                  1
240 0                 0                  1

### LOG 10 some variables

**Migration stock/flow** 

In order to calculate `log10()` of my dependent variable, *`m_stock`*, I will add an **offset (`offset=1`)** to all the observations in the *`m_stock`* column.

In [57]:
dataset$m_stock <- dataset$m_stock + 1.0
dataset$m_flow_sd_drop_neg <- dataset$m_flow_sd_drop_neg + 1.0
dataset$m_flow_sd_rev_neg <- dataset$m_flow_sd_rev_neg + 1.0
dataset$m_flow_mig_rate <- dataset$m_flow_mig_rate + 1.0
dataset$m_flow_da_min_open <- dataset$m_flow_da_min_open + 1.0
dataset$m_flow_da_min_closed <- dataset$m_flow_da_min_closed + 1.0
dataset$m_flow_da_pb_closed <- dataset$m_flow_da_pb_closed + 1.0

head(dataset)

  destination origin        iso_d iso_o col csl        cnl        prox1
1 Argentina   Australia     ARG   AUS   0   0.02058416 0.00080000 0.25
2 Argentina   Brazil        ARG   BRA   0   0.06052872 0.00080000 0.75
3 Argentina   Chile         ARG   CHL   1   0.98010004 0.85439998 0.00
4 Argentina   France        ARG   FRA   0   0.13392781 0.01039232 0.50
5 Argentina   Great Britain ARG   GBR   0   0.08325152 0.00000000 0.25
6 Argentina   Indonesia     ARG   IDN   0   0.00000000 0.00000000 0.00
  lp1      prox2      ... destination_Indonesia destination_Japan
1 1.945866 0.13052547 ... 0                     0
2 5.837599 0.42439765 ... 0                     0
3 0.000000 0.00000000 ... 0                     0
4 3.891733 0.25450581 ... 0                     0
5 1.945866 0.13052547 ... 0                     0
6 0.000000 0.07436915 ... 0                     0
  destination_Malaysia destination_Mexico destination_Russia
1 0                    0                  0
2 0                    0                  0
3 0                    0                  0
4 0                    0                  0
5 0                    0                  0
6 0                    0                  0
  destination_Singapore destination_South.Korea destination_Spain
1 0                     0                       0
2 0                     0                       0
3 0                     0                       0
4 0                     0                       0
5 0                     0                       0
6 0                     0                       0
  destination_Turkey destination_United.States
1 0                  0
2 0                  0
3 0                  0
4 0                  0
5 0                  0
6 0                  0

  destination origin        iso_d iso_o col csl        cnl        prox1
1 Argentina   Australia     ARG   AUS   0   0.02058416 0.00080000 0.25
2 Argentina   Brazil        ARG   BRA   0   0.06052872 0.00080000 0.75
3 Argentina   Chile         ARG   CHL   1   0.98010004 0.85439998 0.00
4 Argentina   France        ARG   FRA   0   0.13392781 0.01039232 0.50
5 Argentina   Great Britain ARG   GBR   0   0.08325152 0.00000000 0.25
6 Argentina   Indonesia     ARG   IDN   0   0.00000000 0.00000000 0.00
  lp1      prox2      ... destination_Indonesia destination_Japan
1 1.945866 0.13052547 ... 0                     0
2 5.837599 0.42439765 ... 0                     0
3 0.000000 0.00000000 ... 0                     0
4 3.891733 0.25450581 ... 0                     0
5 1.945866 0.13052547 ... 0                     0
6 0.000000 0.07436915 ... 0                     0
  destination_Malaysia destination_Mexico destination_Russia
1 0                    0                  0
2 0                    0                  0
3 0                    0                  0
4 0                    0                  0
5 0                    0                  0
6 0                    0                  0
  destination_Singapore destination_South.Korea destination_Spain
1 0                     0                       0
2 0                     0                       0
3 0                     0                       0
4 0                     0                       0
5 0                     0                       0
6 0                     0                       0
  destination_Turkey destination_United.States
1 0                  0
2 0                  0
3 0                  0
4 0                  0
5 0                  0
6 0                  0

In [58]:
dataset$log10_m_flow_da_pb_closed <- log10(dataset$m_flow_da_pb_closed)
dataset$log10_m_stock <- log10(dataset$m_stock)
dataset$log10_pop_o <- log10(dataset$pop_o)
dataset$log10_pop_d <- log10(dataset$pop_d)
dataset$log10_area_o <- log10(dataset$area_o)
dataset$log10_area_d <- log10(dataset$area_d)
dataset$log10_GDP_o <- log10(dataset$GDP_o)
dataset$log10_GDP_d <- log10(dataset$GDP_d)
dataset$log10_GDP_percapita_o <- log10(dataset$GDP_percapita_o)
dataset$log10_GDP_percapita_d <- log10(dataset$GDP_percapita_d)
dataset$log10_distwces <- log10(dataset$distwces)
dataset$log10_distcap <- log10(dataset$distcap)

head(dataset)

  destination origin        iso_d iso_o col csl        cnl        prox1
1 Argentina   Australia     ARG   AUS   0   0.02058416 0.00080000 0.25
2 Argentina   Brazil        ARG   BRA   0   0.06052872 0.00080000 0.75
3 Argentina   Chile         ARG   CHL   1   0.98010004 0.85439998 0.00
4 Argentina   France        ARG   FRA   0   0.13392781 0.01039232 0.50
5 Argentina   Great Britain ARG   GBR   0   0.08325152 0.00000000 0.25
6 Argentina   Indonesia     ARG   IDN   0   0.00000000 0.00000000 0.00
  lp1      prox2      ... log10_pop_o log10_pop_d log10_area_o log10_area_d
1 1.945866 0.13052547 ... 7.401456    7.651091    6.885748     6.441992
2 5.837599 0.42439765 ... 8.324384    7.651091    6.930028     6.441992
3 0.000000 0.00000000 ... 7.277656    7.651091    5.879064     6.441992
4 3.891733 0.25450581 ... 7.813779    7.651091    5.738008     6.441992
5 1.945866 0.13052547 ... 7.829498    7.651091    5.387586     6.441992
6 0.000000 0.07436915 ... 8.432369    7.651091    6.286380     6.441992
  log10_GDP_o log10_GDP_d log10_GDP_percapita_o log10_GDP_percapita_d
1 12.16152    11.64129    4.769883              4.104358
2 12.37373    11.64129    3.934105              4.104358
3 11.45490    11.64129    4.138662              4.104358
4 12.47304    11.64129    4.589190              4.104358
5 12.46442    11.64129    4.676617              4.104358
6 12.08079    11.64129    3.590220              4.104358
  log10_distwces log10_distcap
1 4.079842       4.069442
2 3.319997       3.371669
3 2.973884       3.052431
4 4.038297       4.044236
5 4.046426       4.047177
6 4.192234       4.182865

  destination origin        iso_d iso_o col csl        cnl        prox1
1 Argentina   Australia     ARG   AUS   0   0.02058416 0.00080000 0.25
2 Argentina   Brazil        ARG   BRA   0   0.06052872 0.00080000 0.75
3 Argentina   Chile         ARG   CHL   1   0.98010004 0.85439998 0.00
4 Argentina   France        ARG   FRA   0   0.13392781 0.01039232 0.50
5 Argentina   Great Britain ARG   GBR   0   0.08325152 0.00000000 0.25
6 Argentina   Indonesia     ARG   IDN   0   0.00000000 0.00000000 0.00
  lp1      prox2      ... log10_pop_o log10_pop_d log10_area_o log10_area_d
1 1.945866 0.13052547 ... 7.401456    7.651091    6.885748     6.441992
2 5.837599 0.42439765 ... 8.324384    7.651091    6.930028     6.441992
3 0.000000 0.00000000 ... 7.277656    7.651091    5.879064     6.441992
4 3.891733 0.25450581 ... 7.813779    7.651091    5.738008     6.441992
5 1.945866 0.13052547 ... 7.829498    7.651091    5.387586     6.441992
6 0.000000 0.07436915 ... 8.432369    7.651091    6.286380     6.441992
  log10_GDP_o log10_GDP_d log10_GDP_percapita_o log10_GDP_percapita_d
1 12.16152    11.64129    4.769883              4.104358
2 12.37373    11.64129    3.934105              4.104358
3 11.45490    11.64129    4.138662              4.104358
4 12.47304    11.64129    4.589190              4.104358
5 12.46442    11.64129    4.676617              4.104358
6 12.08079    11.64129    3.590220              4.104358
  log10_distwces log10_distcap
1 4.079842       4.069442
2 3.319997       3.371669
3 2.973884       3.052431
4 4.038297       4.044236
5 4.046426       4.047177
6 4.192234       4.182865

In [59]:
countries

 [1] "Argentina"     "Australia"     "Brazil"        "Chile"
 [5] "France"        "Great Britain" "Indonesia"     "Japan"
 [9] "Malaysia"      "Mexico"        "Russia"        "Singapore"
[13] "South Korea"   "Spain"         "Turkey"        "United States"

 [1] "Argentina"     "Australia"     "Brazil"        "Chile"
 [5] "France"        "Great Britain" "Indonesia"     "Japan"
 [9] "Malaysia"      "Mexico"        "Russia"        "Singapore"
[13] "South Korea"   "Spain"         "Turkey"        "United States"

In [60]:
write.csv(dataset, "data/subset-final-dataset.csv", row.names = FALSE)